@charset "UTF-8";
@font-face {
  font-family: f1;
  src: url(fonts/656b86fa3fe3596cc68938b1_TTCommonsProBold.woff2);
}
@font-face {
  font-family: f2;
  src: url(fonts/656b86ff823e1e81ea66c6b5_TTCommonsProDemiBold.woff2);
}
@font-face {
  font-family: f3;
  src: url(fonts/656b8703110c47fed1502536_TTCommonsProExtraBold.woff2);
}
@font-face {
  font-family: f4;
  src: url(fonts/656b870b0129678b31d2ba06_TTCommonsProRegular.woff2);
}
@font-face {
  font-family: f5;
  src: url(fonts/TK3iWkUHHAIjg752GT8Gl-1PKw.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

:root {
  --ui--surface: #f7faf5;
  --text--default: #201116;
  --black: #201116;
  --white: #fafaf5;
  --ui--inverted: #192015;
  --lime-300: #bef264;
  --lime-hover: #9fcb54;
  --ui--highlight: #bde1aa;
  --ui--muted: #dae5d3;
  --ui--faint: #e8f1e3;
  --purple: #a034f6;
  --accent--indigo-100: #e0e7ff;
  --primary--default: var(--lime-300);
  --text--highlight: var(--lime-300);
  --transparent: transparent;
  --white-fff: white;
  --border-gray: #cecece;
  --ui--faint-v2: #f1f0e3;
  --ui--teal: #5eead4;
  --accent--bebe: #dbeafe;
  --accent--indigo: var(--lime-300);
  --text--inverted: #ffe7ef;
  --garden--blue: #afe9fe;
  --garden--pink: #ffafe9;
  --garden--purple: #cfafff;
  --garden--beige: #ffe4af;
  --garden--dark-pink: #ffbdaf;
  --garden--olive: var(--lime-300);
  --green: #96d470;
  --light-yellow: #f2ee8f;
  --orange: #f4c4a9;
  --light-grayish-purple: #e5d3ff;
  --light-yellow-orange: #f3d682;
  --orange-dark: #f4c87b;
  --pink-dark: #f1a3bb;
  --teal: #00b4a9;
  --pink: #ff6375;
  --yellow: #fda801;
  --maroon: #bb4b1c;
  --black-2: black;
  --ui--mid: #b6c2b0;
  --text--muted: #b5a4aa;
  --text--faint: #ebd5dc;
  --primary--dark: #d63c5a;
  --primary--light: #ff94c6;
  --accent--mandarina: #fb923c;
  --accent--solecito: #facc15;
  --secondary--bebé: #dbeafe;
  --hover--default: rgba(32, 17, 22, 0.1);
  --white-2: white;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  max-width: 1280px;
}

main {
  background-color: var(--white-2);
  font-family: f1;
}

.page1 .inner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding: 4rem 1.5rem;
  text-align: center;
}
.page1 .inner .top {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.page1 .inner .top h1 {
  color: var(--text--default);
  font-size: clamp(60px, 13vw + 1rem, 90px);
  letter-spacing: -1px;
  line-height: 1;
  font-family: f3;
}
.page1 .inner .top h1 span {
  font-size: clamp(40px, 5vw + 1rem, 70px);
}
.page1 .inner .top p {
  font-family: f4;
  font-size: clamp(16px, 5vw, 20px);
}
.page1 .inner .top .btns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.page1 .inner .top .btns button {
  font-family: f4;
  font-weight: 700;
  width: 100%;
  padding-block: 1rem;
  font-size: clamp(12px, 4.5vw, 15px);
  border-radius: 0.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  justify-content: center;
}
.page1 .inner .top .btns button:nth-child(1) {
  border: 1px solid var(--border-gray);
  background-color: transparent;
}
.page1 .inner .top .btns button:nth-child(2) {
  background-color: var(--purple);
  color: var(--white-2);
  border: none;
}
.page1 .inner .top .btns button:nth-child(2) svg {
  height: 3vh;
}
.page1 .inner .bottom {
  width: 100%;
  position: relative;
}
.page1 .inner .bottom .video-container {
  width: 100%;
  position: relative;
  border-radius: 0.7rem;
  overflow: hidden;
  z-index: 100;
}
.page1 .inner .bottom .video-container video {
  width: 100%;
  max-width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
  cursor: pointer;
  overflow: hidden;
}
.page1 .inner .bottom .video-container .overlay {
  position: absolute;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.128);
  inset: 0;
}
.page1 .inner .bottom .video-container i {
  position: absolute;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.489);
  padding: 1.1rem;
  border-radius: 100px;
  font-size: clamp(20px, 7vw, 50px);
  color: var(--white-2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page1 .inner .bottom .images-container {
  display: none;
}

.page2 .inner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding: 4rem 1.5rem;
}
.page2 .inner h1 {
  font-size: clamp(30px, 3.5vw + 1rem, 40px);
  letter-spacing: -0.5px;
  line-height: 1.1;
}
.page2 .inner h1 .pink-text {
  color: var(--pink);
}
.page2 .inner h1 .yellow-text {
  color: var(--yellow);
}
.page2 .inner h1 .green-text {
  color: var(--teal);
}
.page2 .inner .cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.page2 .inner .cards .card {
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  height: clamp(500px, 35vh, 600px);
}
.page2 .inner .cards .card .content {
  padding: 1rem;
  border-radius: inherit;
}
.page2 .inner .cards .card .content .text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.page2 .inner .cards .card .content .text h4 {
  font-size: clamp(16px, 6vw + 1rem, 20px);
}
.page2 .inner .cards .card .content .text p {
  font-family: f4;
}
.page2 .inner .cards .card:nth-child(1) {
  background-image: url(media/card1.webp);
}
.page2 .inner .cards .card:nth-child(2) {
  background-image: url(media/card2.webp);
}
.page2 .inner .cards .card:nth-child(3) {
  background-image: url(media/card3.webp);
}

.page3 .inner {
  width: 100%;
  padding: 4rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.page3 .inner .top {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  text-align: center;
}
.page3 .inner .top h6 {
  font-size: clamp(14px, 4.5vw, 18px);
  color: var(--purple);
}
.page3 .inner .top h2 {
  font-size: clamp(26px, 10vw, 35px);
  line-height: 1.1;
}
.page3 .inner .bottom {
  border-radius: 0.8rem;
  background: linear-gradient(to right, #e1e2e2 70%, #c5c5c4);
  padding: 1.2rem 0.8rem 0rem 0.8rem;
}
.page3 .inner .bottom .teacher-details {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.page3 .inner .bottom .teacher-details h6 {
  color: var(--purple);
  font-size: clamp(14px, 4.5vw, 18px);
}
.page3 .inner .bottom .teacher-details h2 {
  font-size: clamp(35px, 10vw, 50px);
  line-height: 1.1;
}
.page3 .inner .bottom .teacher-details p {
  font-family: f4;
  font-size: clamp(15px, 5vw, 18px);
}
.page3 .inner .bottom .teacher-details .icons-container {
  display: flex;
  gap: 1.2rem;
  padding-bottom: 3rem;
}
.page3 .inner .bottom .teacher-details .icons-container img {
  height: 1.6rem;
}
.page3 .inner .bottom .teacher {
  max-width: 100%;
  height: auto;
}

.page4 .inner {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  padding: 4rem 1.5rem;
}
.page4 .inner h2 {
  font-size: clamp(20px, 3.2vw + 1rem, 44px);
}
.page4 .inner .learning-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.page4 .inner .learning-cards .card {
  aspect-ratio: 3/2;
  padding: 1rem;
  border-radius: 0.8rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.page4 .inner .learning-cards .card:hover img {
  transform: scale(1.05) rotate(2deg);
  filter: brightness(1.1);
}
.page4 .inner .learning-cards .card img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all ease-in-out 0.4s;
}
.page4 .inner .learning-cards .card h4 {
  position: relative;
  font-size: clamp(14px, 7vw + 1rem, 20px);
}

.page5 .inner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding: 4rem 1.5rem;
}
.page5 .inner .top {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.page5 .inner .top h2 {
  font-size: clamp(24px, 8vw, 44px);
}
.page5 .inner .top .benefits-container {
  display: grid;
  grid-template-columns: 1fr;
}
.page5 .inner .top .benefits-container .benefit {
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.page5 .inner .top .benefits-container .benefit h4 {
  font-size: clamp(16px, 5vw + 1rem, 24px);
}
.page5 .inner .top .benefits-container .benefit p {
  font-family: f4;
  font-size: clamp(14px, 0.1vw + 1rem, 20px);
  width: 95%;
}
.page5 .inner .bottom {
  width: 100%;
  border-radius: 1rem;
  position: relative;
}
.page5 .inner .bottom .bg-img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  border-radius: inherit;
}
.page5 .inner .bottom .person-img {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  height: auto;
}

@media (min-width: 600px) {
  .page4 .inner {
    padding-inline: 6rem;
  }
  .page4 .inner .learning-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "learn1 learn1" "learn1 learn1" "learn2 learn3" "learn4 learn5" "learn6 learn7" "learn8 learn9";
  }
}
@media (min-width: 768px) {
  .page1 .inner {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    padding: 4rem 1.5rem;
    text-align: center;
  }
  .page1 .inner .top .btns {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }
  .page1 .inner .top .btns button {
    font-family: f4;
    font-weight: 700;
    width: -moz-fit-content;
    width: fit-content;
    padding-inline: 3rem;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;
  }
  .page1 .inner .top .btns button:nth-child(1) {
    border: 1.5px solid var(--border-gray);
  }
  .page1 .inner .top .btns button:nth-child(1) i {
    font-size: 20px;
  }
  .page1 .inner .top .btns button:nth-child(2) {
    background-color: var(--purple);
    color: var(--white-2);
    border: none;
  }
  .page1 .inner .top .btns button:nth-child(2) svg {
    height: 3.2vh;
  }
  .page1 .inner .bottom {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .page1 .inner .bottom .video-container {
    width: 60%;
  }
  .page1 .inner .bottom .images-container {
    width: 60%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    transform: translateY(-15%);
  }
  .page1 .inner .bottom .images-container .left,
  .page1 .inner .bottom .images-container .right {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 50%;
  }
  .page1 .inner .bottom .images-container .right img {
    align-self: flex-end;
  }
  .page1 .inner .bottom .images-container .right img:nth-child(1) {
    transform: translateX(70%);
  }
  .page1 .inner .bottom .images-container .right img:nth-child(2) {
    transform: translateX(100%);
  }
  .page1 .inner .bottom .images-container .right img:nth-child(3) {
    transform: translateX(90%);
  }
  .page1 .inner .bottom .images-container .left img:nth-child(1) {
    transform: translateX(-70%);
  }
  .page1 .inner .bottom .images-container .left img:nth-child(2) {
    transform: translateX(-100%);
  }
  .page1 .inner .bottom .images-container .left img:nth-child(3) {
    transform: translateX(-90%);
  }
  .page1 .inner .bottom .images-container img {
    width: clamp(120px, 11vw + 1rem, 170px);
    border-radius: 0.5rem;
  }
  .page2 .inner {
    padding-inline: 6rem;
  }
  .page2 .inner h1 {
    line-height: 1.3;
  }
  .page2 .inner .cards {
    flex-direction: row;
  }
  .page3 .inner {
    position: relative;
    padding-inline: 6rem;
    gap: 6rem;
  }
  .page3 .inner .top h2 {
    width: 80%;
    margin-inline: auto;
  }
  .page3 .inner .bottom {
    display: flex;
    padding: 2rem 0rem 0rem 2rem;
  }
  .page3 .inner .bottom .teacher-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
  }
  .page3 .inner .bottom .teacher {
    width: 50%;
    border-radius: 0.8rem;
  }
  .page4 .inner {
    padding-inline: 6rem;
  }
  .page4 .inner .learning-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "learn1 learn1 learn2 learn3" "learn1 learn1 learn4 learn5" "learn6 learn7 learn8 learn9";
  }
  .page4 .inner .learning-cards .card:nth-child(1) {
    grid-area: learn1;
  }
  .page4 .inner .learning-cards .card:nth-child(2) {
    grid-area: learn2;
  }
  .page4 .inner .learning-cards .card:nth-child(3) {
    grid-area: learn3;
  }
  .page4 .inner .learning-cards .card:nth-child(4) {
    grid-area: learn4;
  }
  .page4 .inner .learning-cards .card:nth-child(5) {
    grid-area: learn5;
  }
  .page4 .inner .learning-cards .card:nth-child(6) {
    grid-area: learn6;
  }
  .page4 .inner .learning-cards .card:nth-child(7) {
    grid-area: learn7;
  }
  .page4 .inner .learning-cards .card:nth-child(8) {
    grid-area: learn8;
  }
  .page4 .inner .learning-cards .card:nth-child(9) {
    grid-area: learn9;
  }
  .page5 .inner {
    flex-direction: row-reverse;
    padding-inline: 6rem;
    align-items: center;
  }
  .page5 .inner .top {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  .page5 .inner .top .benefits-container {
    grid-template-columns: 1fr 1fr;
  }
  .page5 .inner .bottom {
    width: 50%;
    height: -moz-fit-content;
    height: fit-content;
  }
  .page5 .inner .bottom .bg-img {
    border-radius: inherit;
  }
  .page5 .inner .bottom .bg-img .person-img {
    -o-object-position: bottom;
       object-position: bottom;
  }
}/*# sourceMappingURL=style.css.map */