@font-face {
  font-family: f1;
  src: url(fonts/656b86fa3fe3596cc68938b1_TTCommonsProBold.woff2);
}
@font-face {
  font-family: f2;
  src: url(fonts/656b86ff823e1e81ea66c6b5_TTCommonsProDemiBold.woff2);
}
@font-face {
  font-family: f3;
  src: url(fonts/656b8703110c47fed1502536_TTCommonsProExtraBold.woff2);
}
@font-face {
  font-family: f4;
  src: url(fonts/656b870b0129678b31d2ba06_TTCommonsProRegular.woff2);
}
@font-face {
  font-family: f5;
  src: url(fonts/TK3iWkUHHAIjg752GT8Gl-1PKw.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

:root {
  --text--default: #201116;
  --white: #fafaf5;
  --lime-hover: #9fcb54;
  --purple: #a034f6;
  --border-gray: #cecece;
  --garden--purple: #cfafff;
  --green: #96d470;
  --light-yellow: #f2ee8f;
  --orange: #f4c4a9;
  --light-grayish-purple: #e5d3ff;
  --light-yellow-orange: #f3d682;
  --orange-dark: #f4c87b;
  --pink-dark: #f1a3bb;
  --teal: #00b4a9;
  --pink: #ff6375;
  --yellow: #fda801;
  --white-2: white;
}

section,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  max-width: 1280px;
}

main {
  background-color: var(--white-2);
  font-family: f1;
}

.page1 .inner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding: 4rem 1.5rem;
  text-align: center;
}
.page1 .inner .top {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.page1 .inner .top h1 {
  color: var(--text--default);
  font-size: clamp(60px, 13vw + 1rem, 90px);
  letter-spacing: -1px;
  line-height: 1;
  font-family: f3;
}
.page1 .inner .top h1 span {
  font-size: clamp(40px, 5vw + 1rem, 70px);
}
.page1 .inner .top p {
  font-family: f4;
  font-size: clamp(16px, 5vw, 20px);
}
.page1 .inner .top .btns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.page1 .inner .top .btns button {
  font-family: f4;
  font-weight: 700;
  width: 100%;
  padding-block: 1rem;
  font-size: clamp(12px, 4.5vw, 15px);
  border-radius: 0.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  justify-content: center;
  transition: all ease 0.4s;
}
.page1 .inner .top .btns button:hover {
  box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
}
.page1 .inner .top .btns button:nth-child(1) {
  border: 1px solid var(--border-gray);
  background-color: transparent;
}
.page1 .inner .top .btns button:nth-child(1) i {
  font-size: clamp(14px, 4.5vw, 16px);
}
.page1 .inner .top .btns button:nth-child(2) {
  background-color: var(--purple);
  color: var(--white-2);
  border: none;
}
.page1 .inner .top .btns button:nth-child(2) svg {
  height: clamp(14px, 3vh, 16px);
}
.page1 .inner .bottom {
  width: 100%;
  position: relative;
}
.page1 .inner .bottom .video-container {
  width: 100%;
  position: relative;
  border-radius: 0.7rem;
  overflow: hidden;
  z-index: 100;
}
.page1 .inner .bottom .video-container video {
  width: 100%;
  max-width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
  cursor: pointer;
  overflow: hidden;
}
.page1 .inner .bottom .video-container .overlay {
  position: absolute;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.128);
  inset: 0;
}
.page1 .inner .bottom .video-container i {
  position: absolute;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.489);
  padding: 1.1rem;
  border-radius: 100px;
  font-size: clamp(20px, 7vw, 50px);
  color: var(--white-2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page1 .inner .bottom .images-container {
  display: none;
  pointer-events: none;
}

.page2 .inner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding: 4rem 1.5rem;
}
.page2 .inner h1 {
  font-size: clamp(30px, 3.5vw + 1rem, 40px);
  letter-spacing: -0.5px;
  line-height: 1.1;
}
.page2 .inner h1 .pink-text {
  color: var(--pink);
}
.page2 .inner h1 .yellow-text {
  color: var(--yellow);
}
.page2 .inner h1 .green-text {
  color: var(--teal);
}
.page2 .inner .cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.page2 .inner .cards .card {
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  aspect-ratio: 3/5;
}
.page2 .inner .cards .card .content {
  padding: 1rem;
  border-radius: inherit;
}
.page2 .inner .cards .card .content .text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.page2 .inner .cards .card .content .text h4 {
  font-size: clamp(16px, 6vw + 1rem, 20px);
}
.page2 .inner .cards .card .content .text p {
  font-family: f4;
}
.page2 .inner .cards .card:nth-child(1) {
  background-image: url(media/card1.webp);
}
.page2 .inner .cards .card:nth-child(2) {
  background-image: url(media/card2.webp);
}
.page2 .inner .cards .card:nth-child(3) {
  background-image: url(media/card3.webp);
}

.page3 .inner {
  width: 100%;
  padding: 4rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.page3 .inner .top {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  text-align: center;
}
.page3 .inner .top h6 {
  font-size: clamp(14px, 4.5vw, 18px);
  color: var(--purple);
}
.page3 .inner .top h2 {
  font-size: clamp(26px, 10vw, 35px);
  line-height: 1.1;
}
.page3 .inner .bottom {
  border-radius: 0.8rem;
  background: linear-gradient(to right, #e1e2e2 70%, #c5c5c4);
  padding: 1.2rem 0.8rem 0rem 0.8rem;
}
.page3 .inner .bottom .teacher-details {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.page3 .inner .bottom .teacher-details h6 {
  color: var(--purple);
  font-size: clamp(14px, 4.5vw, 18px);
}
.page3 .inner .bottom .teacher-details h2 {
  font-size: clamp(35px, 10vw, 50px);
  line-height: 1.1;
}
.page3 .inner .bottom .teacher-details p {
  font-family: f4;
  font-size: clamp(15px, 5vw, 18px);
}
.page3 .inner .bottom .teacher-details .icons-container {
  display: flex;
  gap: 1.2rem;
  padding-bottom: 3rem;
}
.page3 .inner .bottom .teacher-details .icons-container img {
  height: 1.6rem;
}
.page3 .inner .bottom .teacher {
  max-width: 100%;
  height: auto;
}

.page4 .inner {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  padding: 4rem 1.5rem;
}
.page4 .inner h2 {
  font-size: clamp(20px, 3.2vw + 1rem, 44px);
}
.page4 .inner .learning-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.page4 .inner .learning-cards .card {
  aspect-ratio: 3/2;
  padding: 1rem;
  border-radius: 0.8rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.page4 .inner .learning-cards .card:hover img {
  transform: scale(1.05) rotate(2deg);
  filter: brightness(1.1);
}
.page4 .inner .learning-cards .card img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all ease-in-out 0.4s;
}
.page4 .inner .learning-cards .card h4 {
  position: relative;
  font-size: clamp(14px, 7vw + 1rem, 16px);
}

.page5 .inner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding: 4rem 1.5rem;
}
.page5 .inner .top {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.page5 .inner .top h2 {
  font-size: clamp(24px, 8vw, 44px);
}
.page5 .inner .top .benefits-container {
  display: grid;
  grid-template-columns: 1fr;
}
.page5 .inner .top .benefits-container .benefit {
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.page5 .inner .top .benefits-container .benefit h4 {
  font-size: clamp(16px, 5vw + 1rem, 24px);
}
.page5 .inner .top .benefits-container .benefit p {
  font-family: f4;
  font-size: clamp(14px, 0.1vw + 1rem, 20px);
  width: 95%;
}
.page5 .inner .bottom {
  width: 100%;
  border-radius: 1rem;
  position: relative;
}
.page5 .inner .bottom .bg-img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  border-radius: inherit;
}
.page5 .inner .bottom .person-img {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  height: auto;
}

.page6 .inner {
  width: 100%;
  padding: 4rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}
.page6 .inner .user-cards-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.page6 .inner .user-cards-container .user-card {
  background-color: #00b4a9;
  border-radius: 0.6rem;
  padding: clamp(5px, 0.8rem, 8px);
  display: flex;
  font-family: f4;
  gap: 1rem;
}
.page6 .inner .user-cards-container .user-card p {
  font-size: clamp(14px, 4vw, 16px);
}
.page6 .inner .user-cards-container .user-card:nth-child(1) {
  background-color: var(--lime-hover);
}
.page6 .inner .user-cards-container .user-card:nth-child(2) {
  background-color: var(--light-yellow);
}
.page6 .inner .user-cards-container .user-card:nth-child(3) {
  background-color: var(--garden--purple);
}
.page6 .inner .user-cards-container .user-card:nth-child(4) {
  background-color: var(--light-grayish-purple);
}
.page6 .inner .user-cards-container .user-card:nth-child(4) p {
  font-size: clamp(14px, 4vw, 18px);
}
.page6 .inner .user-cards-container .user-card:nth-child(5) {
  background-color: #f34d1f;
  color: white;
}
.page6 .inner .user-cards-container .user-card:nth-child(5) p {
  line-height: 1.1;
}
.page6 .inner .user-cards-container .user-card:nth-child(6) {
  background-color: #9bdfdb;
}
.page6 .inner .user-cards-container .user-card:nth-child(7) {
  background-color: var(--green);
}
.page6 .inner .user-cards-container .user-card:nth-child(8) {
  background-color: var(--light-yellow-orange);
}
.page6 .inner .user-cards-container .user-card:nth-child(9) {
  background-color: var(--light-yellow-orange);
}
.page6 .inner .user-cards-container .user-card:nth-child(10) {
  background-color: #dcadf9;
}
.page6 .inner .user-cards-container .user-card:nth-child(11) {
  background-color: var(--pink-dark);
}
.page6 .inner .user-cards-container .user-card:nth-child(12) {
  background-color: var(--orange);
}
.page6 .inner .user-cards-container .user-card:nth-child(13) {
  background-color: #dcadf9;
}
.page6 .inner .user-cards-container .user-card:nth-child(13) p {
  font-size: 20px;
}
.page6 .inner .user-cards-container .user-card:nth-child(14) {
  background-color: var(--orange-dark);
}
.page6 .inner .user-cards-container .user-card .user-details {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.page6 .inner .user-cards-container .user-card img {
  height: clamp(50px, 21vw, 120px);
  border-radius: 0.7rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.page6 .inner .socials {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}
.page6 .inner .socials .social {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.page6 .inner .socials .social i {
  font-size: clamp(18px, 7vw, 22px);
}
.page6 .inner .socials .social p {
  font-family: f2;
  font-size: clamp(10px, 3.5vw, 13px);
  transition: all ease 0.25s;
}
.page6 .inner .socials .social p:hover {
  color: rgb(0, 119, 255);
}
.page6 .inner .socials .social:nth-child(2) i, .page6 .inner .socials .social:nth-child(4) i {
  color: red;
}
.page6 .inner .socials .social:nth-child(3) i {
  color: rgb(0, 157, 255);
}

.page7 .inner {
  width: 100%;
  padding: 4rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.page7 .inner .content {
  width: 100%;
  position: relative;
  border-radius: 0.8rem;
  padding: 0.8rem;
  text-align: center;
  overflow: hidden;
}
.page7 .inner .content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  inset: 0;
  border-radius: inherit;
  transition: all ease 0.3s;
}
.page7 .inner .content img:hover {
  transform: scale(1.05);
}
.page7 .inner .content h2 {
  padding-top: 15rem;
  position: relative;
  color: var(--yellow);
  font-size: clamp(50px, 17vw, 120px);
  font-family: f3;
  line-height: 0.9;
  margin-bottom: 1rem;
  pointer-events: none;
}
.page7 .inner .content p {
  background-color: black;
  color: var(--light-yellow-orange);
  font-family: f4;
  font-size: clamp(12px, 3.5vw, 16px);
  padding: 0.4rem;
  border-radius: 0.8rem;
  position: relative;
  pointer-events: none;
}
.page7 .inner p {
  font-family: f4;
  text-align: center;
}

footer .inner {
  width: 100%;
  padding: 4rem 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  flex-direction: column;
  text-align: center;
}
footer .inner h5 {
  font-size: clamp(28px, 11vw, 40px);
  font-family: f2;
}
footer .inner button {
  background-color: var(--purple);
  border: none;
  color: white;
  font-family: f2;
  padding: 0.7rem 2.5rem;
  border-radius: 50px;
  font-size: clamp(12px, 4.5vw, 16px);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
footer .inner button svg {
  height: clamp(14px, 2vh, 18px);
}
footer .inner .links {
  display: flex;
  align-items: center;
  gap: 2rem;
}
footer .inner .links a {
  font-size: clamp(11px, 4vw, 14px);
  font-family: f2;
  text-transform: capitalize;
}
footer .inner p {
  font-family: f4;
  font-size: clamp(10px, 3.5vw, 13px);
}
footer .inner .terms {
  font-family: f4;
  font-size: clamp(10px, 3.5vw, 13px);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 1rem;
}
footer a {
  text-decoration: none;
  color: black;
}

@media (min-width: 600px) {
  .page4 .inner {
    padding-inline: 6rem;
  }
  .page4 .inner .learning-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "learn1 learn1" "learn1 learn1" "learn2 learn3" "learn4 learn5" "learn6 learn7" "learn8 learn9";
  }
  .page7 .inner .content {
    border-radius: 1rem;
    padding-bottom: 5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
  }
  .page7 .inner .content img {
    -o-object-position: top;
       object-position: top;
  }
  .page7 .inner .content h2 {
    padding-top: 30rem;
    width: 60%;
  }
  .page7 .inner .content p {
    width: 50%;
    padding: 0.6rem;
    border-radius: 0.6rem;
  }
  .page7 .inner p {
    width: 50%;
    margin-inline: auto;
  }
}
@media (min-width: 768px) {
  .page1 .inner {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    padding: 4rem 1.5rem;
    text-align: center;
  }
  .page1 .inner .top .btns {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }
  .page1 .inner .top .btns button {
    font-family: f4;
    font-weight: 700;
    width: -moz-fit-content;
    width: fit-content;
    padding-inline: 3rem;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;
  }
  .page1 .inner .top .btns button:nth-child(1) {
    border: 1.5px solid var(--border-gray);
  }
  .page1 .inner .top .btns button:nth-child(2) {
    background-color: var(--purple);
    color: var(--white-2);
    border: none;
  }
  .page1 .inner .bottom {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .page1 .inner .bottom .video-container {
    width: 60%;
  }
  .page1 .inner .bottom .images-container {
    width: 60%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    transform: translateY(-15%);
  }
  .page1 .inner .bottom .images-container .left,
  .page1 .inner .bottom .images-container .right {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 50%;
  }
  .page1 .inner .bottom .images-container .right img {
    align-self: flex-end;
  }
  .page1 .inner .bottom .images-container .right img:nth-child(1) {
    transform: translateX(70%);
  }
  .page1 .inner .bottom .images-container .right img:nth-child(2) {
    transform: translateX(100%);
  }
  .page1 .inner .bottom .images-container .right img:nth-child(3) {
    transform: translateX(90%);
  }
  .page1 .inner .bottom .images-container .left img:nth-child(1) {
    transform: translateX(-70%);
  }
  .page1 .inner .bottom .images-container .left img:nth-child(2) {
    transform: translateX(-100%);
  }
  .page1 .inner .bottom .images-container .left img:nth-child(3) {
    transform: translateX(-90%);
  }
  .page1 .inner .bottom .images-container img {
    width: clamp(120px, 11vw + 1rem, 170px);
    border-radius: 0.5rem;
  }
  .page2 .inner {
    padding-inline: 6rem;
  }
  .page2 .inner h1 {
    line-height: 1.3;
  }
  .page2 .inner .cards {
    flex-direction: row;
  }
  .page3 .inner {
    position: relative;
    padding-inline: 6rem;
    gap: 6rem;
  }
  .page3 .inner .top h2 {
    width: 80%;
    margin-inline: auto;
  }
  .page3 .inner .bottom {
    display: flex;
    padding: 2rem 0rem 0rem 2rem;
  }
  .page3 .inner .bottom .teacher-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
  }
  .page3 .inner .bottom .teacher {
    width: 50%;
    border-radius: 0.8rem;
  }
  .page4 .inner {
    padding-inline: 6rem;
  }
  .page4 .inner .learning-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "learn1 learn1 learn2 learn3" "learn1 learn1 learn4 learn5" "learn6 learn7 learn8 learn9";
  }
  .page4 .inner .learning-cards .card:nth-child(1) {
    grid-area: learn1;
  }
  .page4 .inner .learning-cards .card:nth-child(2) {
    grid-area: learn2;
  }
  .page4 .inner .learning-cards .card:nth-child(3) {
    grid-area: learn3;
  }
  .page4 .inner .learning-cards .card:nth-child(4) {
    grid-area: learn4;
  }
  .page4 .inner .learning-cards .card:nth-child(5) {
    grid-area: learn5;
  }
  .page4 .inner .learning-cards .card:nth-child(6) {
    grid-area: learn6;
  }
  .page4 .inner .learning-cards .card:nth-child(7) {
    grid-area: learn7;
  }
  .page4 .inner .learning-cards .card:nth-child(8) {
    grid-area: learn8;
  }
  .page4 .inner .learning-cards .card:nth-child(9) {
    grid-area: learn9;
  }
  .page5 .inner {
    flex-direction: row-reverse;
    padding-inline: 6rem;
    align-items: center;
  }
  .page5 .inner .top {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  .page5 .inner .top .benefits-container {
    grid-template-columns: 1fr 1fr;
  }
  .page5 .inner .bottom {
    width: 50%;
    height: -moz-fit-content;
    height: fit-content;
  }
  .page5 .inner .bottom .bg-img {
    border-radius: inherit;
  }
  .page5 .inner .bottom .bg-img .person-img {
    -o-object-position: bottom;
       object-position: bottom;
  }
  .page6 .inner {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding-inline: 6rem;
  }
  .page6 .inner .user-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "user1 user2 user3" "user4 user4 user5" "user6 user7 user9" "user6 user8 user9" "user10 user11 user12" "user13 user13 user14";
  }
  .page6 .inner .user-cards-container .user-card {
    border-radius: 0.6rem;
    padding: 0.8rem;
    display: flex;
    font-family: f4;
    gap: 1rem;
    cursor: pointer;
  }
  .page6 .inner .user-cards-container .user-card:nth-child(1) {
    background-color: var(--lime-hover);
    grid-area: user1;
  }
  .page6 .inner .user-cards-container .user-card:nth-child(2) {
    background-color: var(--light-yellow);
    grid-area: user2;
  }
  .page6 .inner .user-cards-container .user-card:nth-child(3) {
    background-color: var(--garden--purple);
    grid-area: user3;
  }
  .page6 .inner .user-cards-container .user-card:nth-child(4) {
    background-color: var(--light-grayish-purple);
    grid-area: user4;
  }
  .page6 .inner .user-cards-container .user-card:nth-child(5) {
    background-color: #f34d1f;
    color: white;
    grid-area: user5;
  }
  .page6 .inner .user-cards-container .user-card:nth-child(6) {
    background-color: #9bdfdb;
    grid-area: user6;
  }
  .page6 .inner .user-cards-container .user-card:nth-child(7) {
    background-color: var(--green);
    grid-area: user7;
  }
  .page6 .inner .user-cards-container .user-card:nth-child(8) {
    background-color: var(--light-yellow-orange);
    grid-area: user8;
  }
  .page6 .inner .user-cards-container .user-card:nth-child(9) {
    background-color: var(--light-yellow-orange);
    grid-area: user9;
  }
  .page6 .inner .user-cards-container .user-card:nth-child(10) {
    background-color: #dcadf9;
    grid-area: user10;
  }
  .page6 .inner .user-cards-container .user-card:nth-child(11) {
    background-color: var(--pink-dark);
    grid-area: user11;
  }
  .page6 .inner .user-cards-container .user-card:nth-child(12) {
    background-color: var(--orange);
    grid-area: user12;
  }
  .page6 .inner .user-cards-container .user-card:nth-child(13) {
    background-color: #dcadf9;
    grid-area: user13;
  }
  .page6 .inner .user-cards-container .user-card:nth-child(13) p {
    font-size: 20px;
  }
  .page6 .inner .user-cards-container .user-card:nth-child(14) {
    background-color: var(--orange-dark);
    grid-area: user14;
  }
  .page6 .inner .user-cards-container .user-card .user-details {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  .page6 .inner .user-cards-container .user-card img {
    height: clamp(45px, 21vw, 60px);
    border-radius: 0.7rem;
    -o-object-fit: cover;
       object-fit: cover;
    transition: all ease 0.6s;
  }
  .page6 .inner .user-cards-container .user-card img:hover {
    border-radius: 100px;
  }
  .page6 .inner .socials {
    display: flex;
    align-items: center;
    gap: 3rem;
  }
  .page7 .inner {
    padding-inline: 6rem;
  }
  footer .inner {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  footer .inner button {
    padding: 1.1rem 3.5rem;
  }
}/*# sourceMappingURL=style.css.map */