@font-face {
  font-family: manrope1;
  src: url(fonts/Manrope-Regular.ttf);
}
@font-face {
  font-family: manrope2;
  src: url(fonts/Manrope-Light.ttf);
}
@font-face {
  font-family: manrope3;
  src: url(fonts/Manrope-Medium.ttf);
}
@font-face {
  font-family: manrope4;
  src: url(fonts/Manrope-Bold.ttf);
}
@font-face {
  font-family: neu1;
  src: url(fonts/NeueMachina-Light.otf);
}
@font-face {
  font-family: neu2;
  src: url(fonts/NeueMachina-Medium_d0jNuroW9.ttf);
}
@font-face {
  font-family: neu3;
  src: url(fonts/NeueMachina-Bold_WaMOsLX9Z9.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
:root {
  --color-orange-extra-light: #ffedd4;
  --color-orange-light: #e8602e;
  --color-orange-dark: #be5027;
  --color-background: #0b0402;
  --color-black: #050000;
  --color-white: #e9e9e9;
  --color-gray: #736d6b;
}
@mixin flex-col($gap: 0rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}
@mixin flex-center($gap: 0rem) {
  display: flex;
  align-items: center;
  gap: $gap;
}
@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin highlight-text {
  text-transform: uppercase;
  font-size: clamp(18px, 6vw, 24px);
  font-family: neu1;
  color: #ffffffb0;
  background-color: #1e0c06;
  border: 0.5px solid var(--color-orange-dark);
  padding: 0.5rem 1.5rem;
  position: relative;
  .dot {
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: var(--color-white);
    &:nth-child(1) {
      top: 0;
      left: 0;
    }
    &:nth-child(2) {
      top: 0;
      right: 0;
    }
    &:nth-child(3) {
      bottom: 0;
      left: 0;
    }
    &:nth-child(4) {
      bottom: 0;
      right: 0;
    }
  }
}
@mixin page-heading {
  font-family: manrope3;
  line-height: 1.4;
  font-size: clamp(24px, 6.5vw, 48px);
  letter-spacing: 1px;
  span {
    color: var(--color-orange-light);
  }
}

main {
  background-color: var(--color-background);
  position: relative;
  width: 100%;
  color: var(--color-white);
  font-family: manrope1;
}
button {
  cursor: pointer;
}
section {
  @include flex();
}
.inner {
  width: 100%;
  max-width: 1280px;
  padding-inline: 1.5rem;
}
.page1 {
  padding-top: 4rem;
  padding-bottom: 4rem;
  .inner {
    @include flex-col(1.5rem);
    .top {
      width: 100%;
      .video-container {
        @include flex-col(1.5rem);
        width: 100%;
        padding: 0.5rem 0.7rem;
        border: 1.5px solid var(--color-gray);
        border-radius: 0.7rem;
        background-color: #1a120f;
        iframe {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: inherit;
        }
        .tags {
          display: flex;
          gap: 0.8rem;
          .tag {
            text-transform: capitalize;
            color: var(--color-gray);
            font-size: clamp(9px, 2.5vw, 12px);
            font-weight: 700;
            font-family: manrope2;
            border-radius: 50px;
            border: 1px solid;
            padding: 0.1rem 0.5rem;
          }
        }
      }
    }
    .bottom {
      @include flex-col(1rem);
      h6 {
        text-transform: uppercase;
        color: var(--color-orange-light);
        font-family: manrope3;
        font-size: clamp(12px, 4vw, 18px);
      }
      h1 {
        font-size: clamp(38px, 11vw, 57px);
        line-height: 1.1;
      }
      p {
        color: var(--color-gray);
        line-height: 1.1;
        font-size: clamp(13.5px, 3.7vw, 18.5px);
      }
      .price {
        display: flex;
        align-items: flex-end;
        gap: 0.7rem;
        h3 {
          font-size: clamp(30px, 8.5vw, 41px);
        }
        h4 {
          color: var(--color-orange-light);
          font-size: clamp(30px, 8.5vw, 41px);
          font-weight: 700;
        }
        h5 {
          color: var(--color-gray);
          text-decoration: line-through;
          font-size: clamp(12px, 3.3vw, 16.2px);
        }
      }
      .btns {
        @include flex-col(0.7rem);
        button {
          padding: 0.8rem 0rem;
          font-size: clamp(12px, 4.7vw, 18px);
          border-radius: 0.6rem;
          color: white;
          text-transform: capitalize;
          &:nth-child(1) {
            background-color: var(--color-orange-dark);
            border: none;
          }
          &:nth-child(2) {
            background-color: transparent;
            border: 1.5px solid var(--color-gray);
          }
        }
      }
    }
  }
}
.page2 {
  .inner {
    @include flex();
    img {
      width: clamp(300px, 100%, 900px);
    }
  }
}
.page3 {
  padding-block: 4rem;
  .inner {
    @include flex();
    flex-wrap: wrap;
    gap: 3rem;
    .course-guide {
      @include flex();
      flex-direction: column;
      gap: 0.4rem;
      text-align: center;
      h6 {
        text-transform: uppercase;
        color: var(--color-gray);
        letter-spacing: 1.5px;
        font-family: manrope4;
        font-size: clamp(8px, 3vw, 11.5px);
      }
      h5 {
        text-transform: capitalize;
        font-size: clamp(14px, 4.5vw, 20px);
        font-family: manrope3;
      }
    }
  }
}
.page4 {
  padding-block: 4rem;
  .inner {
    @include flex-col(3rem);
    .top {
      text-align: center;
      @include flex-col(1.5rem);
      align-items: center;
      .highlight-text {
        @include highlight-text();
      }
      h2 {
        @include page-heading();
      }
    }
    .bottom {
      display: flex;
      gap: 1.5rem;
      flex-wrap: nowrap;
      overflow-x: auto;
      &::-webkit-scrollbar {
        display: none;
      }
      .marque-card {
        width: 100%;
        max-width: 320px;
        border: 1.5px solid var(--color-gray);
        padding: 1.5rem;
        border-radius: 0.7rem;
        @include flex-col(0.9rem);
        flex-shrink: 0;
        justify-content: space-between;
        h6 {
          color: var(--color-gray);
          font-size: clamp(14px, 4vw, 18px);
        }
        h3 {
          text-transform: uppercase;
          font-size: clamp(32px, 9vw, 36px);
          font-family: manrope3;
          line-height: 1.2;
          color: var(--color-orange-light);
        }
        p {
          color: rgba(255, 255, 255, 0.55);
          font-size: clamp(13px, 4.5vw, 15.5px);
        }
        button {
          padding: 0.8rem 0rem;
          font-size: clamp(12px, 4.7vw, 18px);
          border-radius: 0.6rem;
          color: white;
          text-transform: capitalize;
          background-color: var(--color-orange-light);
          border: none;
        }
      }
    }
  }
}
.page5 {
  padding-bottom: 4rem;
  .inner {
    @include flex-col(3rem);
    .top {
      text-align: center;
      @include flex-col(1.5rem);
      align-items: center;
      h5 {
        @include highlight-text();
      }
      h2 {
        @include page-heading();
      }
    }
    .bottom {
      @include flex();
      flex-wrap: wrap;
      gap: 2rem;
      position: relative;
      img {
        position: relative;
        width: clamp(65px, 20vw, 90px);
        height: clamp(65px, 20vw, 90px);
        object-fit: cover;
        @include flex();
        background-color: rgba(255, 255, 255, 0.071);
        padding: 1.3rem;
        cursor: pointer;
        border-radius: 1000px;
        border: 1.5px solid rgba(255, 255, 255, 0.103);
      }
    }
  }
}

@media (min-width: 768px) {
  .page1 {
    .inner {
      padding-inline: 5rem;
      .bottom {
        .btns {
          flex-direction: row;
          button {
            padding-block: 0.9rem;
            padding-inline: 4rem;
          }
        }
      }
    }
  }
  .page3 {
    .inner {
      gap: 4rem;
      .course-guide {
        width: 20%;
      }
    }
  }
  .page4,
  .page5 {
    h2 {
      width: 50%;
      line-height: 1.2;
    }
  }
  .page5 {
    .inner {
      .bottom {
        padding-inline: 3rem;
        gap: 6rem;
        transition: all ease 0.2s;
        &:hover {
          img:not(:hover) {
            filter: blur(10px);
          }
        }
        img {
          transition: all ease 0.2s;
        }
      }
    }
  }
  @media (min-width: 1024px) {
    .page1 {
      .inner {
        padding-top: 5rem;
        padding-bottom: 5rem;
        flex-direction: row-reverse;
        justify-content: space-between;
        .top {
          width: clamp(400px, 40%, 450px);
          height: 100%;
          .video-container {
            height: clamp(280px, 50vh, 320px);
          }
        }
        .bottom {
          width: 50%;
        }
      }
    }
  }
}
