@font-face {
  font-family: manrope1;
  src: url(fonts/Manrope-Regular.ttf);
}
@font-face {
  font-family: manrope2;
  src: url(fonts/Manrope-Light.ttf);
}
@font-face {
  font-family: manrope3;
  src: url(fonts/Manrope-Medium.ttf);
}
@font-face {
  font-family: manrope4;
  src: url(fonts/Manrope-Bold.ttf);
}
@font-face {
  font-family: neu1;
  src: url(fonts/NeueMachina-Light.otf);
}
@font-face {
  font-family: neu2;
  src: url(fonts/NeueMachina-Medium_d0jNuroW9.ttf);
}
@font-face {
  font-family: neu3;
  src: url(fonts/NeueMachina-Bold_WaMOsLX9Z9.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

:root {
  --color-orange-extra-light: #ffedd4;
  --color-orange-light: #e8602e;
  --color-orange-dark: #be5027;
  --color-background: #0b0402;
  --color-black: #050000;
  --color-white: #e9e9e9;
  --color-gray: #736d6b;
}

main {
  background-color: var(--color-background);
  position: relative;
  width: 100%;
  color: var(--color-white);
  font-family: manrope1;
}

button {
  cursor: pointer;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  width: 100%;
  max-width: 1280px;
  padding-inline: 1.5rem;
}

.page1 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.page1 .inner {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.page1 .inner .top {
  width: 100%;
}
.page1 .inner .top .video-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  padding: 0.5rem 0.7rem;
  border: 1.5px solid var(--color-gray);
  border-radius: 0.7rem;
  background-color: #1a120f;
}
.page1 .inner .top .video-container iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
}
.page1 .inner .top .video-container .tags {
  display: flex;
  gap: 0.8rem;
}
.page1 .inner .top .video-container .tags .tag {
  text-transform: capitalize;
  color: var(--color-gray);
  font-size: clamp(9px, 2.5vw, 12px);
  font-weight: 700;
  font-family: manrope2;
  border-radius: 50px;
  border: 1px solid;
  padding: 0.1rem 0.5rem;
}
.page1 .inner .bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.page1 .inner .bottom h6 {
  text-transform: uppercase;
  color: var(--color-orange-light);
  font-family: manrope3;
  font-size: clamp(12px, 4vw, 18px);
}
.page1 .inner .bottom h1 {
  font-size: clamp(38px, 11vw, 57px);
  line-height: 1.1;
}
.page1 .inner .bottom p {
  color: var(--color-gray);
  line-height: 1.1;
  font-size: clamp(13.5px, 3.7vw, 18.5px);
}
.page1 .inner .bottom .price {
  display: flex;
  align-items: flex-end;
  gap: 0.7rem;
}
.page1 .inner .bottom .price h3 {
  font-size: clamp(30px, 8.5vw, 41px);
}
.page1 .inner .bottom .price h4 {
  color: var(--color-orange-light);
  font-size: clamp(30px, 8.5vw, 41px);
  font-weight: 700;
}
.page1 .inner .bottom .price h5 {
  color: var(--color-gray);
  text-decoration: line-through;
  font-size: clamp(12px, 3.3vw, 16.2px);
}
.page1 .inner .bottom .btns {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.page1 .inner .bottom .btns button {
  padding: 0.8rem 0rem;
  font-size: clamp(12px, 4.7vw, 18px);
  border-radius: 0.6rem;
  color: white;
  text-transform: capitalize;
}
.page1 .inner .bottom .btns button:nth-child(1) {
  background-color: var(--color-orange-dark);
  border: none;
}
.page1 .inner .bottom .btns button:nth-child(2) {
  background-color: transparent;
  border: 1.5px solid var(--color-gray);
}

.page2 .inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page2 .inner img {
  width: clamp(300px, 100%, 900px);
}

.page3 {
  padding-block: 4rem;
}
.page3 .inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.page3 .inner .course-guide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.4rem;
  text-align: center;
}
.page3 .inner .course-guide h6 {
  text-transform: uppercase;
  color: var(--color-gray);
  letter-spacing: 1.5px;
  font-family: manrope4;
  font-size: clamp(8px, 3vw, 11.5px);
}
.page3 .inner .course-guide h5 {
  text-transform: capitalize;
  font-size: clamp(14px, 4.5vw, 20px);
  font-family: manrope3;
}

.page4 {
  padding-block: 4rem;
}
.page4 .inner {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.page4 .inner .top {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}
.page4 .inner .top .highlight-text {
  text-transform: uppercase;
  font-size: clamp(18px, 6vw, 24px);
  font-family: neu1;
  color: rgba(255, 255, 255, 0.6901960784);
  background-color: #1e0c06;
  border: 0.5px solid var(--color-orange-dark);
  padding: 0.5rem 1.5rem;
  position: relative;
}
.page4 .inner .top .highlight-text .dot {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: var(--color-white);
}
.page4 .inner .top .highlight-text .dot:nth-child(1) {
  top: 0;
  left: 0;
}
.page4 .inner .top .highlight-text .dot:nth-child(2) {
  top: 0;
  right: 0;
}
.page4 .inner .top .highlight-text .dot:nth-child(3) {
  bottom: 0;
  left: 0;
}
.page4 .inner .top .highlight-text .dot:nth-child(4) {
  bottom: 0;
  right: 0;
}
.page4 .inner .top h2 {
  font-family: manrope3;
  line-height: 1.4;
  font-size: clamp(24px, 6.5vw, 48px);
  letter-spacing: 1px;
}
.page4 .inner .top h2 span {
  color: var(--color-orange-light);
}
.page4 .inner .bottom {
  display: flex;
  gap: 1.5rem;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.page4 .inner .bottom::-webkit-scrollbar {
  display: none;
}
.page4 .inner .bottom .marque-card {
  width: 100%;
  max-width: 320px;
  border: 1.5px solid var(--color-gray);
  padding: 1.5rem;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  flex-shrink: 0;
  justify-content: space-between;
}
.page4 .inner .bottom .marque-card h6 {
  color: var(--color-gray);
  font-size: clamp(14px, 4vw, 18px);
}
.page4 .inner .bottom .marque-card h3 {
  text-transform: uppercase;
  font-size: clamp(32px, 9vw, 36px);
  font-family: manrope3;
  line-height: 1.2;
  color: var(--color-orange-light);
}
.page4 .inner .bottom .marque-card p {
  color: rgba(255, 255, 255, 0.55);
  font-size: clamp(13px, 4.5vw, 15.5px);
}
.page4 .inner .bottom .marque-card button {
  padding: 0.8rem 0rem;
  font-size: clamp(12px, 4.7vw, 18px);
  border-radius: 0.6rem;
  color: white;
  text-transform: capitalize;
  background-color: var(--color-orange-light);
  border: none;
}

.page5 {
  padding-bottom: 4rem;
}
.page5 .inner {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.page5 .inner .top {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}
.page5 .inner .top h5 {
  text-transform: uppercase;
  font-size: clamp(18px, 6vw, 24px);
  font-family: neu1;
  color: rgba(255, 255, 255, 0.6901960784);
  background-color: #1e0c06;
  border: 0.5px solid var(--color-orange-dark);
  padding: 0.5rem 1.5rem;
  position: relative;
}
.page5 .inner .top h5 .dot {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: var(--color-white);
}
.page5 .inner .top h5 .dot:nth-child(1) {
  top: 0;
  left: 0;
}
.page5 .inner .top h5 .dot:nth-child(2) {
  top: 0;
  right: 0;
}
.page5 .inner .top h5 .dot:nth-child(3) {
  bottom: 0;
  left: 0;
}
.page5 .inner .top h5 .dot:nth-child(4) {
  bottom: 0;
  right: 0;
}
.page5 .inner .top h2 {
  font-family: manrope3;
  line-height: 1.4;
  font-size: clamp(24px, 6.5vw, 48px);
  letter-spacing: 1px;
}
.page5 .inner .top h2 span {
  color: var(--color-orange-light);
}
.page5 .inner .bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  position: relative;
}
.page5 .inner .bottom img {
  position: relative;
  width: clamp(65px, 20vw, 90px);
  height: clamp(65px, 20vw, 90px);
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.071);
  padding: 1.3rem;
  cursor: pointer;
  border-radius: 1000px;
  border: 1.5px solid rgba(255, 255, 255, 0.103);
}

.page6 {
  width: 100%;
  background-color: white;
  padding-block: 4rem;
  border-radius: 1.5rem;
  color: var(--color-black);
  position: relative;
}
.page6 .inner {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.page6 .inner .top {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  text-align: center;
}
.page6 .inner .top h5 {
  text-transform: uppercase;
  font-size: clamp(18px, 6vw, 24px);
  font-family: neu1;
  color: rgba(255, 255, 255, 0.6901960784);
  background-color: #1e0c06;
  border: 0.5px solid var(--color-orange-dark);
  padding: 0.5rem 1.5rem;
  position: relative;
  background-color: white;
  color: var(--color-black);
}
.page6 .inner .top h5 .dot {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: var(--color-white);
}
.page6 .inner .top h5 .dot:nth-child(1) {
  top: 0;
  left: 0;
}
.page6 .inner .top h5 .dot:nth-child(2) {
  top: 0;
  right: 0;
}
.page6 .inner .top h5 .dot:nth-child(3) {
  bottom: 0;
  left: 0;
}
.page6 .inner .top h5 .dot:nth-child(4) {
  bottom: 0;
  right: 0;
}
.page6 .inner .top h5 .dot {
  background-color: black;
}
.page6 .inner .top h2 {
  font-family: manrope3;
  line-height: 1.4;
  font-size: clamp(24px, 6.5vw, 48px);
  letter-spacing: 1px;
  color: var(--color-black);
}
.page6 .inner .top h2 span {
  color: var(--color-orange-light);
}
.page6 .inner .bottom {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.page6 .inner .bottom .modules {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.page6 .inner .bottom .modules .module {
  cursor: pointer;
  background-color: white;
  border: 1.5px solid rgba(0, 0, 0, 0.1333333333);
  padding: 1rem;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  align-items: flex-start;
  transition: all ease 0.25s;
}
.page6 .inner .bottom .modules .module:hover {
  background-color: #fffaf3;
}
.page6 .inner .bottom .modules .module h5 {
  text-transform: uppercase;
  color: var(--color-orange-light);
  font-size: clamp(12px, 3.2vw, 14px);
  font-family: manrope2;
  background-color: var(--color-orange-extra-light);
  padding: 0.3rem 0.9rem;
  border-radius: 0.5rem;
}
.page6 .inner .bottom .modules .module h3 {
  text-transform: capitalize;
  font-size: clamp(16px, 5.5vw, 22px);
  font-weight: 600;
}
.page6 .inner .bottom .modules .module p {
  color: rgba(0, 0, 0, 0.5254901961);
  font-family: manrope3;
  font-size: clamp(14.5px, 4.2vw, 16px);
}
.page6 .inner .bottom .modules .module .topic {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: rgba(0, 0, 0, 0.5254901961);
}
.page6 .inner .bottom .modules .module .topic h6 {
  font-size: clamp(12px, 3.2vw, 16px);
}
.page6 .inner .bottom .modules .module .topic i {
  color: var(--color-black);
}
.page6 .inner .bottom .prerequisits {
  background-color: var(--color-black);
  color: white;
  padding: 1rem;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.page6 .inner .bottom .prerequisits h2 {
  font-size: clamp(24px, 7.5vw, 30px);
}
.page6 .inner .bottom .prerequisits p {
  color: rgba(255, 255, 255, 0.614);
  font-size: clamp(10px, 3.8vw, 14.4px);
}
.page6 .inner .bottom .prerequisits .level {
  display: flex;
  gap: 1.2rem;
}
.page6 .inner .bottom .prerequisits .level div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.page6 .inner .bottom .prerequisits .level div h6 {
  font-size: clamp(11px, 3.1vw, 13px);
}
.page6 .inner .bottom .prerequisits .overview {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.page6 .inner .bottom .prerequisits .overview h5 {
  font-size: clamp(9px, 3.5vw, 14px);
  text-transform: uppercase;
}
.page6 .inner .bottom .prerequisits .overview ul {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.page6 .inner .bottom .prerequisits .overview ul li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.page6 .inner .bottom .prerequisits .overview ul li i {
  background-color: white;
  color: black;
  border-radius: 50px;
}
.page6 .inner .bottom .prerequisits .overview ul li p {
  font-size: clamp(10px, 3.6vw, 14px);
  color: white;
}
.page6 .inner .bottom .prerequisits button {
  padding: 0.8rem 0rem;
  font-size: clamp(12px, 4.7vw, 18px);
  border-radius: 0.6rem;
  color: white;
  background-color: var(--color-orange-light);
  text-transform: capitalize;
  border: none;
  background-color: var(--color-orange-dark);
  margin-top: 1rem;
}

.page7 {
  padding-block: 4rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.page7 .marque-container {
  width: 100%;
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 15%, black 85%, transparent 100%);
  mask-image: linear-gradient(to right, transparent 0%, black 15%, black 85%, transparent 100%);
}
.page7 .marque-container .marque {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.page7 .marque-container .marque img {
  height: clamp(35px, 5.5vw, 45px);
  filter: grayscale(1) invert(1);
  opacity: 0.55;
}
.page7 .inner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.page7 .inner .top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
}
.page7 .inner .top h5 {
  text-transform: uppercase;
  font-size: clamp(18px, 6vw, 24px);
  font-family: neu1;
  color: rgba(255, 255, 255, 0.6901960784);
  background-color: #1e0c06;
  border: 0.5px solid var(--color-orange-dark);
  padding: 0.5rem 1.5rem;
  position: relative;
}
.page7 .inner .top h5 .dot {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: var(--color-white);
}
.page7 .inner .top h5 .dot:nth-child(1) {
  top: 0;
  left: 0;
}
.page7 .inner .top h5 .dot:nth-child(2) {
  top: 0;
  right: 0;
}
.page7 .inner .top h5 .dot:nth-child(3) {
  bottom: 0;
  left: 0;
}
.page7 .inner .top h5 .dot:nth-child(4) {
  bottom: 0;
  right: 0;
}
.page7 .inner .top h2 {
  font-family: manrope3;
  line-height: 1.4;
  font-size: clamp(24px, 6.5vw, 48px);
  letter-spacing: 1px;
}
.page7 .inner .top h2 span {
  color: var(--color-orange-light);
}
.page7 .inner .bottom {
  border: 1.5px solid rgba(255, 255, 255, 0.3019607843);
  padding: 1rem;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.page7 .inner .bottom .content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.page7 .inner .bottom .content h2 {
  font-size: clamp(24px, 7.5vw, 38px);
  text-transform: capitalize;
}
.page7 .inner .bottom .content h6 {
  color: rgba(255, 255, 255, 0.614);
  text-transform: uppercase;
  font-size: clamp(10px, 3.5vw, 15.4px);
  font-weight: 500;
}
.page7 .inner .bottom .content ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.page7 .inner .bottom .content ul li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  align-items: flex-start;
  width: 80%;
}
.page7 .inner .bottom .content ul li i {
  background-color: white;
  color: black;
  font-size: clamp(10px, 3vw, 16px);
  margin-top: 4px;
  border-radius: 50px;
}
.page7 .inner .bottom .content ul li p {
  font-size: clamp(10px, 3.7vw, 16px);
  color: rgba(255, 255, 255, 0.9);
}
.page7 .inner .bottom .image-box {
  width: 100%;
  border-radius: 0.7rem;
  background: linear-gradient(150deg, #e8602e 0.55%, black 23%);
  padding: 0.1rem;
  overflow: hidden;
}
.page7 .inner .bottom .image-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
}

.page8 {
  padding-block: 4rem;
  overflow: hidden;
  width: 100%;
}
.page8 .inner {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.page8 .inner .top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  align-items: center;
}
.page8 .inner .top h5 {
  text-transform: uppercase;
  font-size: clamp(18px, 6vw, 24px);
  font-family: neu1;
  color: rgba(255, 255, 255, 0.6901960784);
  background-color: #1e0c06;
  border: 0.5px solid var(--color-orange-dark);
  padding: 0.5rem 1.5rem;
  position: relative;
}
.page8 .inner .top h5 .dot {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: var(--color-white);
}
.page8 .inner .top h5 .dot:nth-child(1) {
  top: 0;
  left: 0;
}
.page8 .inner .top h5 .dot:nth-child(2) {
  top: 0;
  right: 0;
}
.page8 .inner .top h5 .dot:nth-child(3) {
  bottom: 0;
  left: 0;
}
.page8 .inner .top h5 .dot:nth-child(4) {
  bottom: 0;
  right: 0;
}
.page8 .inner .top h2 {
  font-family: manrope3;
  line-height: 1.4;
  font-size: clamp(24px, 6.5vw, 48px);
  letter-spacing: 1px;
}
.page8 .inner .top h2 span {
  color: var(--color-orange-light);
}
.page8 .inner .user-reviews-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 20%, black 80%, transparent 100%);
          mask-image: linear-gradient(to right, transparent 0%, black 20%, black 80%, transparent 100%);
}
.page8 .inner .user-reviews-container .review-line {
  display: flex;
  gap: 1.2rem;
  width: 100%;
  margin-left: 1rem;
  transform: translateX(-10%);
}
.page8 .inner .user-reviews-container .review-line:nth-child(2) {
  transform: translateX(-80%);
}
.page8 .inner .user-reviews-container .review-line .review {
  position: relative;
  flex-shrink: 0;
  width: clamp(300px, 85vw, 600px);
  background: linear-gradient(170deg, rgba(255, 255, 255, 0.337254902) 1%, black 80%);
  padding: 0.1rem;
  border-radius: 1rem;
}
.page8 .inner .user-reviews-container .review-line .review .content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1rem 1.5rem 1rem;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: var(--color-background);
}
.page8 .inner .user-reviews-container .review-line .review .content .user-comment {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
.page8 .inner .user-reviews-container .review-line .review .content .user-comment svg {
  width: clamp(80px, 9vw, 100px);
}
.page8 .inner .user-reviews-container .review-line .review .content .user-comment p {
  font-size: clamp(13px, 4.2vw, 18px);
}
.page8 .inner .user-reviews-container .review-line .review .content .who-is-user {
  display: flex;
  gap: 0.6rem;
}
.page8 .inner .user-reviews-container .review-line .review .content .who-is-user .user-dp {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  overflow: hidden;
}
.page8 .inner .user-reviews-container .review-line .review .content .who-is-user .user-dp img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.page8 .inner .user-reviews-container .review-line .review .content .who-is-user .username-role h4 {
  font-size: clamp(9px, 4vw, 13px);
}
.page8 .inner .user-reviews-container .review-line .review .content .who-is-user .username-role h6 {
  font-size: clamp(8px, 3.3vw, 12px);
}

.page9 {
  padding-inline: 2.2rem;
  padding-block: 4rem;
}
.page9 .inner {
  background: linear-gradient(178deg, #e8602e 13%, #0f0f11 35%);
  padding-block: 2.5rem;
  padding-inline: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.page9 .inner .top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.page9 .inner .top img {
  width: clamp(50px, 17vw, 100px);
}
.page9 .inner .top .top-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.page9 .inner .top .top-content h2 {
  font-family: neu1;
  font-weight: 500;
  font-size: clamp(26px, 10vw, 35px);
  padding-right: 1rem;
  line-height: 1.1;
  color: var(--color-orange-extra-light);
}
.page9 .inner .top .top-content p {
  font-size: clamp(16px, 5.8vw, 20px);
  line-height: 1.2;
  color: #b69b8c;
}
.page9 .inner .top .top-content .price-with-discount {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.page9 .inner .top .top-content .price-with-discount h4 {
  font-size: clamp(25px, 12vw, 30px);
}
.page9 .inner .top .top-content .price-with-discount h5 {
  opacity: 0.5;
  text-decoration: line-through;
  font-weight: 500;
  font-size: clamp(10px, 3.2vw, 14px);
}
.page9 .inner .top .top-content button {
  padding: 0.8rem 0rem;
  font-size: clamp(12px, 4.7vw, 18px);
  border-radius: 0.6rem;
  color: white;
  background-color: var(--color-orange-light);
  text-transform: capitalize;
  border: none;
  border: none;
  font-size: clamp(14px, 5vw, 19px);
}
.page9 .inner .bottom .new-launch {
  display: none;
}
.page9 .inner .bottom li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.page9 .inner .bottom li .tick {
  font-size: clamp(9px, 3vw, 11px);
  background-color: white;
  color: var(--color-black);
  border-radius: 100px;
  padding: 0.1rem;
}
.page9 .inner .bottom span {
  opacity: 0.5;
  font-size: clamp(10px, 4.1vw, 13px);
}
.page9 .inner .bottom h4 {
  display: flex;
  gap: 0.5rem;
  font-size: clamp(13px, 4.1vw, 13px);
  white-space: nowrap;
}
.page9 .inner .bottom h4 .label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  padding: 0.2rem 0.4rem;
  border-radius: 0.3rem;
  background-color: #3a3a3a;
  font-size: clamp(8px, 2.5vw, 10px);
}
.page9 .inner .bottom h4 .label i {
  color: #6a6e73;
}
.page9 .inner .bottom ul {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.page9 .inner .bottom ul .center-li {
  position: relative;
  color: rgba(255, 255, 255, 0.509);
  font-size: clamp(10px, 3.5vw, 12px);
  white-space: nowrap;
}
.page9 .inner .bottom ul .center-li:before {
  content: "";
  width: 30%;
  height: 1px;
  background-color: white;
  background: linear-gradient(to right, transparent 5%, rgba(255, 255, 255, 0.363) 70%);
  transform: translateY(10%);
}
.page9 .inner .bottom ul .center-li:after {
  content: "";
  width: 30%;
  height: 1px;
  background-color: white;
  background: linear-gradient(to left, transparent 5%, rgba(255, 255, 255, 0.363) 70%);
  transform: translateY(10%);
}

@media (min-width: 768px) {
  .page1 .inner {
    padding-inline: 5rem;
  }
  .page1 .inner .bottom .btns {
    flex-direction: row;
  }
  .page1 .inner .bottom .btns button {
    padding-block: 0.9rem;
    padding-inline: 4rem;
  }
  .page3 .inner {
    gap: 4rem;
  }
  .page3 .inner .course-guide {
    width: 20%;
  }
  .page4 h2,
  .page5 h2 {
    width: 50%;
    line-height: 1.2;
  }
  .page5 .inner .bottom {
    padding-inline: 3rem;
    gap: 6rem;
    transition: all ease 0.2s;
  }
  .page5 .inner .bottom:hover img:not(:hover) {
    filter: blur(10px);
  }
  .page5 .inner .bottom img {
    transition: all ease 0.2s;
  }
  .page6 .inner .bottom {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
  }
  .page6 .inner .bottom .modules {
    width: 65%;
  }
  .page6 .inner .bottom .prerequisits {
    position: sticky;
    top: 10%;
    width: 30%;
    padding-block: 2rem;
    padding-inline: 1.3rem;
  }
  .page7 {
    padding-top: 6rem;
  }
  .page7 .marque-container .marque {
    gap: 6rem;
  }
  .page7 .inner {
    margin-top: 4rem;
    gap: 6rem;
  }
  .page7 .inner .top h2 {
    width: 50%;
  }
  .page7 .inner .bottom {
    max-width: 85%;
    padding: 3rem 4rem;
    margin-inline: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .page7 .inner .bottom .content {
    width: 60%;
  }
  .page7 .inner .bottom .content ul {
    gap: 1.4rem;
    margin-top: 1rem;
  }
  .page7 .inner .bottom .content ul li:nth-child(3) {
    display: none;
  }
  .page7 .inner .bottom .image-box {
    width: 40%;
  }
  .page7 .inner .bottom .image-box img {
    max-height: 240px;
  }
  .page8 {
    padding-bottom: 10rem;
  }
  .page8 .inner .top h2 {
    width: 50%;
  }
  .page8 .inner .user-reviews-container .review-line .review .content {
    padding: 2rem;
    gap: 1.5rem;
  }
  .page9 {
    padding-inline: 8rem;
  }
  .page9 .inner {
    background: linear-gradient(158deg, #e8602e 1%, #0f0f11 25%);
    flex-direction: row;
  }
  .page9 .inner .top {
    width: 60%;
    flex-direction: row;
    align-items: flex-start;
  }
  .page9 .inner .top .top-content {
    gap: 2rem;
    align-items: flex-start;
  }
  .page9 .inner .top .top-content button {
    padding: 1rem 4rem;
  }
  .page9 .inner .bottom {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 0rem;
  }
  .page9 .inner .bottom ul {
    gap: 1.5rem;
  }
  .page9 .inner .bottom .new-launch {
    margin-bottom: 90px;
    display: block;
    align-self: flex-end;
    background-color: #35221f;
    color: white;
    border: 1.5px solid rgba(190, 79, 39, 0.1921568627);
    padding: 0.5rem 1.5rem;
    border-radius: 50px;
    font-size: clamp(14px, 1.2vw, 18px);
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  .page1 .inner {
    padding-top: 5rem;
    padding-bottom: 5rem;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .page1 .inner .top {
    width: clamp(400px, 40%, 450px);
    height: 100%;
  }
  .page1 .inner .top .video-container {
    height: clamp(280px, 50vh, 320px);
  }
  .page1 .inner .bottom {
    width: 50%;
  }
}/*# sourceMappingURL=style.css.map */