@font-face {
  font-family: f1;
  src: url(fonts/ClashGrotesk-Bold.woff);
}
@font-face {
  font-family: f2;
  src: url(fonts/ClashGrotesk-Semibold.woff);
}
@font-face {
  font-family: f3;
  src: url(fonts/ClashGrotesk-Medium.woff);
}
@font-face {
  font-family: f4;
  src: url(fonts/ClashGrotesk-Regular.woff);
}
@font-face {
  font-family: f5;
  src: url(fonts/ClashGrotesk-Light.woff);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: black;
  font-family: f4;
}
:root {
  --paragraph-color: #6a6a6a;
}
@mixin flex-center($gap) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $gap;
}
@mixin flex-col($gap: 1.5rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}
@mixin padding-inline($padding: 1.5rem) {
  padding-inline: $padding;
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner {
  max-width: 1340px;
}
.page1 {
  @include padding-inline(1.5rem);
  .inner {
    // padding-top: 10rem;
    position: relative;
    width: 100%;
    text-align: center;
    @include flex-center(5rem);
    flex-direction: column;
    padding-bottom: 18rem;
    nav {
      width: 100%;
      text-align: start;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 0rem;
      .logo {
        text-decoration: none;
        font-size: clamp(26px, 9vw, 32px);
        color: var(--paragraph-color);
      }
      ul {
        display: none;
      }

      a {
        color: white;
      }
      .btns {
        display: none;
      }
    }
    .globe {
      max-width: 100%;
      max-height: 100%;
      position: absolute;
      bottom: 20%;
      background-size: cover;
      pointer-events: none;
    }
    img {
      max-width: clamp(90px, 25vw, 120px);
    }
    h1 {
      display: none;
    }
    h4 {
      font-size: clamp(18px, 6vw, 30px);
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
      font-weight: 400;
      line-height: 1.1;
      color: var(--paragraph-color);
    }
    .main-btn {
      border-radius: 50px;
      border: none;
      padding: 0.8rem 1.6rem;
      background-color: black;
      color: white;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
      font-weight: 500;
      cursor: pointer;
      font-size: clamp(14px, 1vw + 1rem, 18px);
      border: 1px solid #6a6a6a;
    }
  }
}
.page2 {
  color: white;
  @include padding-inline();
  .inner {
    width: 100%;
    text-align: center;
    .top {
      @include flex-center(1rem);
      flex-direction: column;
      .tag {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
        font-weight: 500;
        font-size: clamp(13px, 0.1vw + 0.8rem, 18px);
        padding: 0.4rem 0.8rem;
        border: 1px solid white;
        border-radius: 50px;
        width: fit-content;
      }
      h2 {
        font-family: f2;
        font-size: clamp(40px, 11vw, 80px);
        line-height: 1.1;
      }
      p {
        color: var(--paragraph-color);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
        font-size: clamp(13px, 1vw + 1rem, 26px);
      }
    }
    img {
      max-width: 100%;
    }
  }
}
.page3 {
  color: white;
  .inner {
    @include padding-inline();
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    .top {
      @include flex-col();
      .heading {
        h6,
        p {
          font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
            sans-serif;
          color: var(--paragraph-color);
        }
        h6 {
          font-weight: 500;
          text-transform: uppercase;
          font-size: clamp(14px, 5vw, 18px);
        }
        h4 {
          font-size: clamp(30px, 8vw, 60px);
          font-family: f2;
          margin-block: 1vw;
        }
        p {
          font-size: clamp(14px, 5vw, 24px);
        }
      }
      .timeline {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .item {
          padding-block: 1rem;
          h5 {
            font-size: clamp(15px, 5vw, 22px);
          }
          p {
            color: var(--paragraph-color);
            font-family: system-ui, -apple-system, BlinkMacSystemFont,
              "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
              "Helvetica Neue", sans-serif;
            font-size: clamp(14px, 3.8vw, 17px);
            width: 90%;
          }
        }
      }
      .coming-soon {
        font-family: f3;
        font-size: clamp(14px, 3.8vw, 17px);
      }
    }
    img {
      max-width: 100%;
    }
  }
}
.page4,
.page5 {
  color: white;
  .inner {
    padding-block: 6rem;
    @include padding-inline();
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    .side-glow {
      display: none;
    }
    .top {
      @include flex-col(0.5rem);
      h6,
      p {
        color: var(--paragraph-color);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
      }
      h6 {
        font-weight: 500;
        text-transform: uppercase;
        font-size: clamp(14px, 5vw, 18px);
      }
      h4 {
        font-size: clamp(30px, 8vw, 60px);
        font-family: f2;
        margin-block: 1vw;
      }
      p {
        font-size: clamp(14px, 5vw, 24px);
      }
    }

    img {
      max-width: 100%;
    }
  }
}

.page6 {
  color: white;
  .inner {
    padding-top: 4rem;
    @include padding-inline();
    @include flex-col(2rem);
    .top {
      @include flex-col(0.3rem);
      h6 {
        font-weight: 500;
        color: var(--paragraph-color);
        text-transform: uppercase;
        font-size: clamp(14px, 5vw, 18px);
      }
      h4 {
        font-size: clamp(30px, 8vw, 60px);
        font-family: f2;
        margin-block: 1vw;
      }
    }
    .bottom {
      @include flex-col(1rem);
      .big-cards,
      .small-cards {
        @include flex-col(1rem);
      }
      .big-cards {
        .card {
          padding-top: 4rem;
          padding-bottom: 0rem;
        }
      }
      .small-cards {
        .card {
          padding-block: 4rem;
        }
      }
      .card {
        background-color: #0e0f10;
        padding: 1rem;
        border: 1px solid #383838;
        border-radius: 0.8rem;
        h6 {
          color: var(--paragraph-color);
          text-transform: uppercase;
          font-size: clamp(12px, 3.5vw, 16px);
        }
        h4 {
          font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
            sans-serif;
          font-size: clamp(16px, 5vw, 36px);
        }
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}
.page7 {
  color: white;
  .inner {
    padding-block: 4rem;
    padding-top: 8rem;
    @include padding-inline();
    @include flex-col(1rem);
    align-items: center;
    img {
      max-width: clamp(90px, 25vw, 120px);
    }
    h2 {
      display: none;
    }
    button {
      border-radius: 50px;
      border: none;
      padding: 0.8rem 1.6rem;
      background-color: black;
      color: white;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
      font-weight: 500;
      cursor: pointer;
      font-size: clamp(14px, 1vw + 1rem, 18px);
      margin-top: 5rem;
      border: 1px solid #6a6a6a;
    }
  }
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  .inner {
    width: 100%;
    padding-top: 4rem;
    @include padding-inline();
    @include flex-col(2rem);
    .top-footer {
      @include flex-col();
      .left {
        @include flex-col(0.8rem);
        a {
          font-size: clamp(32px, 7vw, 40px);
        }
        .icons {
          display: flex;
          gap: 1rem;
          i {
            font-size: clamp(32px, 7vw, 35px);
            color: var(--paragraph-color);
            transition: all ease 0.2s;

            &:hover {
              color: white;
            }
          }
        }
      }
      .footer-menu {
        @include flex-col();
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
        h4 {
          font-size: clamp(18px, 4.5vw, 20px);
          font-weight: 500;
          color: #383838;
        }
        ul {
          @include flex-col(0.5rem);
          text-transform: capitalize;

          a {
            font-size: clamp(14px, 4vw, 17px);
          }
        }
      }
    }

    li {
      list-style: none;
    }
    a {
      text-decoration: none;
      color: var(--paragraph-color);
    }
    .copywrite {
      padding: 2.5rem 0rem 1rem 0rem;
      border-top: 1.5px solid #383838;
      color: var(--paragraph-color);
      font-size: 4.5vw;
    }
  }
}
@media (min-width: 768px) {
  .page1 {
    overflow-y: hidden;
    .inner {
      background-image: url(media/085a0f77-9d3e-43e7-8674-b4a0cdd0d7ae.svg);
      background-repeat: no-repeat;
      background-size: 90%;
      background-position: center;
      padding-bottom: 28rem;
      @include flex-center(3rem);
      nav {
        ul {
          display: flex;
          gap: 3rem;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
            sans-serif;

          li {
            list-style: none;

            a {
              text-decoration: none;
              font-size: clamp(12px, 4vw, 16px);
              text-transform: capitalize;
            }
          }
        }
        .btns {
          display: flex;
          gap: 1rem;
          button {
            padding: 0.5rem 1rem;
            display: flex;
            align-items: center;
            gap: 0.6rem;
            cursor: pointer;
            border: none;
            outline: none;
            transform: all ease 0.2s;
            border-radius: 0.5rem;

            i {
              font-size: 1.8vw;
            }
            &:nth-child(1) {
              background-color: transparent;
              color: white;
              font-weight: 600;
              font-family: system-ui, -apple-system, BlinkMacSystemFont,
                "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
                "Helvetica Neue", sans-serif;
              &:hover {
                background-color: #b3b3b379;
              }
            }
            &:nth-child(2):hover {
              background-color: #c3c3c3;
            }
          }
        }
      }
      .globe {
        bottom: 10%;
        scale: 1.3;
      }
      h1 {
        font-size: clamp(40px, 5vw, 80px);
        font-family: f3;
        display: block;
      }
      h4 {
        color: black;
        width: 50%;
      }
    }
  }
  .page2 {
    padding-top: 3rem;
    .inner {
      .top {
        h2 {
          width: 50%;
        }
        p {
          width: 50%;
        }
      }
      img {
        max-width: 80%;
      }
    }
  }
  .page3 {
    color: white;
    .inner {
      flex-direction: row;
      gap: 0rem;
      .top {
        width: 50%;
        .heading {
          p {
            width: 90%;
          }
        }
      }
      img {
        width: 50%;
      }
    }
  }
  .page4 {
    overflow: hidden;
    .inner {
      padding-block: 8rem;
      position: relative;
      flex-direction: row-reverse;
      .side-glow {
        position: absolute;
        display: block;
        right: -33%;
        top: -8%;
        transform: rotate(-35deg);
      }
      .top {
        width: 50%;
        justify-content: center;
        gap: 0rem;
      }
      img {
        max-width: 50%;
      }
    }
  }
  .page5 {
    overflow: hidden;
    .inner {
      padding-block: 8rem;
      position: relative;
      flex-direction: row;
      z-index: 10;
      .side-glow {
        position: absolute;
        display: block;
        left: -33%;
        top: -8%;
        transform: rotate(0deg);
        z-index: -1;
      }
      .top {
        width: 50%;
        justify-content: center;
        gap: 0rem;
      }
      img {
        max-width: 50%;
      }
    }
  }
  .page6 {
    .inner {
      padding-block: 4rem;
      .bottom {
        flex-direction: row;
        .big-cards {
          width: 65%;
          flex-direction: row;

          img {
            padding-top: 2rem;
          }
        }
        .small-cards {
          width: 35%;
        }
      }
    }
  }
  .page7 {
    .inner {
      width: 100%;
      padding-top: 12rem;
      background-image: url(media/do\ it.svg);
      background-size: cover;
      background-position: bottom;
      gap: 2.4rem;
      h2 {
        color: #0e0f10;
        font-size: clamp(40px, 5vw, 80px);
        font-family: f3;
        display: block;
        width: 50%;
        line-height: 1.1;
        text-align: center;
      }
    }
  }
  footer {
    .inner {
      @include flex-col(8rem);
      .top-footer {
        flex-direction: row;
        justify-content: space-between;
        .footer-menu {
          flex-direction: row;
          gap: 10rem;
          ul {
            @include flex-col(1.5rem);
          }
        }
      }
      .copywrite {
        padding: 2.5rem 0rem 1rem 0rem;
        border-top: 1.5px solid #383838;
        color: var(--paragraph-color);
        font-size: clamp(16px, 4.5vw, 20px);
      }
    }
  }
}
