@font-face {
  font-family: f1;
  src: url(fonts/ClashGrotesk-Bold.woff);
}
@font-face {
  font-family: f2;
  src: url(fonts/ClashGrotesk-Semibold.woff);
}
@font-face {
  font-family: f3;
  src: url(fonts/ClashGrotesk-Medium.woff);
}
@font-face {
  font-family: f4;
  src: url(fonts/ClashGrotesk-Regular.woff);
}
@font-face {
  font-family: f5;
  src: url(fonts/ClashGrotesk-Light.woff);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: black;
  font-family: f4;
}

:root {
  --paragraph-color: #6a6a6a;
}

.page1 {
  padding-inline: 1.5rem;
}
.page1 .inner {
  padding-top: 14rem;
  position: relative;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-direction: column;
  padding-bottom: 18rem;
}
.page1 .inner .globe {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  bottom: 20%;
  background-size: cover;
  pointer-events: none;
}
.page1 .inner h1 {
  display: none;
}
.page1 .inner h4 {
  font-size: clamp(18px, 6vw, 30px);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1.1;
  color: var(--paragraph-color);
}
.page1 .inner button {
  border-radius: 50px;
  border: none;
  padding: 0.8rem 1.6rem;
  background-color: black;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  cursor: pointer;
  font-size: clamp(14px, 1vw + 1rem, 18px);
}

.page2 {
  color: white;
  padding-inline: 1.5rem;
}
.page2 .inner {
  width: 100%;
  text-align: center;
}
.page2 .inner .top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
}
.page2 .inner .top .tag {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: clamp(13px, 0.1vw + 0.8rem, 18px);
  padding: 0.4rem 0.8rem;
  border: 1px solid white;
  border-radius: 50px;
  width: -moz-fit-content;
  width: fit-content;
}
.page2 .inner .top h2 {
  font-family: f2;
  font-size: clamp(40px, 11vw, 80px);
  line-height: 1.1;
}
.page2 .inner .top p {
  color: var(--paragraph-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: clamp(13px, 1vw + 1rem, 26px);
}
.page2 .inner img {
  max-width: 100%;
}

.page3 {
  color: white;
}
.page3 .inner {
  padding-inline: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.page3 .inner .top {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.page3 .inner .top .heading h6,
.page3 .inner .top .heading p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--paragraph-color);
}
.page3 .inner .top .heading h6 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: clamp(14px, 5vw, 18px);
}
.page3 .inner .top .heading h4 {
  font-size: clamp(30px, 8vw, 60px);
  font-family: f2;
  margin-block: 1vw;
}
.page3 .inner .top .heading p {
  font-size: clamp(14px, 5vw, 24px);
}
.page3 .inner .top .timeline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.page3 .inner .top .timeline .item {
  padding-block: 1rem;
}
.page3 .inner .top .timeline .item h5 {
  font-size: clamp(15px, 5vw, 22px);
}
.page3 .inner .top .timeline .item p {
  color: var(--paragraph-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: clamp(14px, 3.8vw, 17px);
  width: 90%;
}
.page3 .inner .top .coming-soon {
  font-family: f3;
  font-size: clamp(14px, 3.8vw, 17px);
}
.page3 .inner img {
  max-width: 100%;
}

.page4,
.page5 {
  color: white;
}
.page4 .inner,
.page5 .inner {
  padding-top: 4rem;
  padding-inline: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.page4 .inner .side-glow,
.page5 .inner .side-glow {
  display: none;
}
.page4 .inner .top,
.page5 .inner .top {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.page4 .inner .top h6,
.page4 .inner .top p,
.page5 .inner .top h6,
.page5 .inner .top p {
  color: var(--paragraph-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.page4 .inner .top h6,
.page5 .inner .top h6 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: clamp(14px, 5vw, 18px);
}
.page4 .inner .top h4,
.page5 .inner .top h4 {
  font-size: clamp(30px, 8vw, 60px);
  font-family: f2;
  margin-block: 1vw;
}
.page4 .inner .top p,
.page5 .inner .top p {
  font-size: clamp(14px, 5vw, 24px);
}
.page4 .inner img,
.page5 .inner img {
  max-width: 100%;
}

@media (min-width: 768px) {
  .page1 {
    overflow-y: hidden;
  }
  .page1 .inner {
    background-image: url(media/085a0f77-9d3e-43e7-8674-b4a0cdd0d7ae.svg);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    padding-bottom: 28rem;
  }
  .page1 .inner .globe {
    bottom: 10%;
    scale: 1.3;
  }
  .page1 .inner h1 {
    font-size: 5vw;
    font-family: f3;
    display: block;
  }
  .page1 .inner h4 {
    color: black;
    width: 50%;
  }
  .page2 {
    padding-top: 3rem;
  }
  .page2 .inner .top h2 {
    width: 50%;
  }
  .page2 .inner .top p {
    width: 50%;
  }
  .page2 .inner img {
    max-width: 80%;
  }
  .page3 {
    color: white;
  }
  .page3 .inner {
    flex-direction: row;
    gap: 0rem;
  }
  .page3 .inner .top {
    width: 50%;
  }
  .page3 .inner .top .heading p {
    width: 90%;
  }
  .page3 .inner img {
    width: 50%;
  }
  .page4 {
    overflow: hidden;
  }
  .page4 .inner {
    position: relative;
    flex-direction: row-reverse;
  }
  .page4 .inner .side-glow {
    position: absolute;
    display: block;
    right: -33%;
    top: -8%;
    transform: rotate(-35deg);
  }
  .page4 .inner .top {
    width: 50%;
    justify-content: center;
    gap: 0rem;
  }
  .page4 .inner img {
    max-width: 50%;
  }
  .page5 {
    overflow: hidden;
  }
  .page5 .inner {
    position: relative;
    flex-direction: row;
    z-index: 10;
  }
  .page5 .inner .side-glow {
    position: absolute;
    display: block;
    left: -33%;
    top: -8%;
    transform: rotate(0deg);
    z-index: -1;
  }
  .page5 .inner .top {
    width: 50%;
    justify-content: center;
    gap: 0rem;
  }
  .page5 .inner img {
    max-width: 50%;
  }
}/*# sourceMappingURL=style.css.map */