* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
html {
  font-size: 10px;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
  ::selection {
    background-color: #fa6b1952;
    color: black;
  }
  nav {
    @include flex-between();
    padding: 1.8rem 3rem;

    h2 {
      font-size: 2.5rem;
      letter-spacing: -1px;
    }
    ul {
      display: flex;
      gap: 4rem;

      li {
        list-style: none;

        a {
          text-decoration: none;
          color: black;
          font-size: 1.2rem;
          font-weight: 500;
          text-transform: capitalize;
          transition: all ease-in-out 0.3s;
          cursor: pointer;

          &:hover {
            color: rgb(89, 89, 89);
          }
        }
      }
    }
    .right {
      display: flex;
      gap: 2rem;

      div {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
}

.hero {
  width: 100%;
  padding-bottom: 8rem;
  padding-inline: 4rem;

  .hero-top {
    display: flex;
    height: 75vh;

    .left {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      padding-top: 4rem;

      h1 {
        font-size: 7.8rem;
        font-weight: 700;
        letter-spacing: -3px;
        line-height: 1.1;
      }
      h5 {
        font-weight: 400;
        font-size: 1.2rem;
        width: 65%;
      }
      .btns {
        display: flex;
        gap: 2rem;

        button {
          padding: 1rem 3rem;
          cursor: pointer;
          font-weight: 500;
          border-radius: 50px;
          border: none;
          display: flex;
          gap: 0.7rem;
          align-items: center;

          i {
            font-size: 1.5rem;
            transition: all ease-out 0.3s;
          }
        }
        .orange-btn {
          color: white;
          background-color: #fa6c19;

          &:hover i {
            transform: translateX(5px) scale(1.2);
          }
        }
        .outline-btn {
          background-color: transparent;
          border: 1.5px solid;
          position: relative;
          z-index: 10;
          overflow: hidden;
          transition: all ease-out 0.3s;

          .circle {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50px;
            background-color: black;
            top: 100%;
            left: 50%;
            transform: translateX(-50%) scale(1);
            z-index: -1;
            transition: all ease-in-out 0.3s;
            transform-origin: center;
          }
          &:hover {
            color: white;
          }

          &:hover .circle {
            top: 0%;
          }
        }
      }
    }

    .right {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      img {
        height: 100%;
        transform: translateX(12%);
      }
    }
  }
}
.hero-bottom {
    padding-top: 3rem;
  width: 100%;
  display: flex;

  .left {
    width: 70%;
    display: flex;
    align-items: center;
    gap: 2.5rem;

    i {
      font-size: 2rem;
      cursor: pointer;
    }
    .bag {
      width: 12vw;
      height: 42.5vh;
      border-radius: 100px;
      position: relative;
      transition: all ease-in-out 0.3s;
      cursor: pointer;

      &:hover {
        scale: 1.05;
      }
      .details {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        align-items: center;

        .price {
          font-size: 1.7rem;
          font-weight: 600;
        }
        i {
          background-color: white;
          padding: 0.5rem;
          font-size: 1.4rem;
          border-radius: 50px;
          color: black;
          cursor: pointer;
        }
      }

      &:nth-child(2) {
        background-image: url(1.webp);
        background-size: 130%;
        background-repeat: no-repeat;
        background-position: top;
        background-color: #fde9eb;
      }
      &:nth-child(3) {
        background-image: url(3.webp);
        background-size: 130%;
        background-repeat: no-repeat;
        background-position: top;
        background-color: #e0d9f8;
      }
      &:nth-child(4) {
        background-image: url(4.webp);
        background-size: 130%;
        background-repeat: no-repeat;
        background-position: top;
        background-color: #f0f0f0;
      }
      &:nth-child(5) {
        background-image: url(2.webp);
        background-size: 130%;
        background-repeat: no-repeat;
        background-position: top;
        background-color: #cefbe7;
      }
    }
  }

  .right {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;
    pointer-events: none;

    h2 {
      font-size: 4.8rem;
      font-weight: 600;
      letter-spacing: -2.3px;
      line-height: 1;
    }
    .rating {
      font-size: 3rem;
      line-height: 1;
      font-weight: 700;
      letter-spacing: -1px;

      span {
        font-weight: 400;
      }
    }
    p {
      font-size: 1.4rem;
      line-height: 1.2;
      width: 55%;
      text-align: right;
    }
    .users {
      display: flex;

      .user {
        width: 4.2rem;
        height: 4.2rem;
        border-radius: 50px;
        background-color: black;
        color: white;
        border: 2px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        position: relative;

        &:nth-child(1) {
          background: url("https://t4.ftcdn.net/jpg/02/24/86/95/360_F_224869519_aRaeLneqALfPNBzg0xxMZXghtvBXkfIA.jpg")
            no-repeat center/cover;
          transform: translateX(60%);
        }
        &:nth-child(2) {
          background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWySO1uRfEacFnQe2Fn0FTk7aXbNaWl-5VEQ&s")
            no-repeat center/cover;
          transform: translateX(30%);
        }
      }
    }
  }
}
