@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
:root {
  --font-poppins: "Poppins", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;

  --color-background: #000000;
  --color-white: #ffffff;
  --color-highlight: #ffa80a;
  --color-secondary: #a6a4a4;
}
@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin flex-center {
  display: flex;
  align-items: center;
}
a {
  text-decoration: none;
  color: var(--color-white);
}
nav {
  @include flex-between();
  padding: 1rem;
  border-bottom: 1px solid white;
  .logo {
    @include flex-center();
    gap: 0.3rem;
    img {
      height: 17px;
    }
    h3 {
      font-weight: 500;
      font-size: 5vw;
    }
  }
  .menu {
    color: var(--color-white);
    font-size: 22px;
    cursor: pointer;
  }
}
nav .right {
  display: none;
}

main {
  width: 100%;
  background-color: var(--color-background);
}
.homePage {
  width: 100%;
  padding-inline: 1rem;
  color: var(--color-white);

  .inner {
    padding-block: 3.5rem;
    h1 {
      text-transform: capitalize;
      font-weight: 600;
      text-align: center;
      line-height: 1.1;
      font-size: 10vw;
      span {
        color: var(--color-highlight);
      }
    }
    .recipes-container {
      .recipes-list-line {
        overflow-x: hidden;
        position: relative;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        .arrows {
          width: 100%;
          display: flex;
          justify-content: space-between;
          position: absolute;
          i {
            cursor: pointer;
            font-size: 10vw;
            color: var(--color-white);
            &:nth-child(2) {
              color: var(--color-secondary);
            }
          }
        }

        .recipe {
          width: 100%;
          flex-shrink: 0;
          margin-right: 3rem;
          position: relative;
          @include flex-center();
          flex-direction: column;
          img {
            width: 85%;
          }
          .recipe-detail {
            transform: translateY(-100%);
            @include flex-center();
            flex-direction: column;
            text-align: center;
            text-transform: capitalize;
            .recipe-name {
              font-weight: 300;
              font-size: 4vw;
            }
            .recipe-price {
              font-size: 6vw;
            }
          }
        }
      }
      .order-container {
        @include flex-center();
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        padding-block: 1rem;
        p {
          color: var(--color-secondary);
          font-size: 4vw;
          line-height: 1.2;
        }
        .cta-btns {
          @include flex-center();
          gap: 1rem;
          button {
            cursor: pointer;
            border-top: 2px solid white;
            border-right: 1px solid white;
            border-bottom: 1px solid white;
            border-left: 1px solid white;
            background-color: transparent;
            color: var(--color-white);
            padding: 0.4rem 1.2rem;
            border-radius: 50px;
            text-transform: capitalize;
            &:nth-child(1) {
              border: none;
              background-color: var(--color-highlight);
            }
          }
        }
      }
    }
  }
}
