@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
:root {
  --font-poppins: "Poppins", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;

  --color-background: #000000;
  --color-white: #ffffff;
  --color-highlight: #ffa80a;
  --color-secondary: #a6a4a4;
}
@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin flex-center {
  display: flex;
  align-items: center;
}
a {
  text-decoration: none;
  color: var(--color-white);
}
nav {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  @include flex-between();
  padding: 1rem;
  border-bottom: 1px solid var(--color-secondary);
  .logo {
    @include flex-center();
    gap: 0.3rem;
    img {
      height: 17px;
    }
    h3 {
      font-weight: 500;
      font-size: clamp(16px, 5vw, 26px);
    }
  }
  .menu {
    color: var(--color-white);
    font-size: 22px;
    cursor: pointer;
  }
}
nav .right {
  display: none;
}

main {
  width: 100%;
  background-color: var(--color-background);
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner {
  width: 100%;
  max-width: 1280px;
}
.homePage {
  width: 100%;
  padding-inline: 1rem;
  color: var(--color-white);

  .inner {
    padding-block: 3.5rem;
    h1 {
      font-family: var(--font-montserrat);
      text-transform: capitalize;
      font-weight: 600;
      text-align: center;
      line-height: 1.1;
      font-size: clamp(30px, 10vw, 88px);
      span {
        color: var(--color-highlight);
      }
    }
    .recipes-container {
      .recipes-list-line {
        overflow-x: hidden;
        position: relative;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        .arrows {
          position: relative;
          height: 100%;
          width: clamp(280px, 100%, 500px);
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: absolute;
          z-index: 10;
          i {
            cursor: pointer;
            font-size: clamp(30px, 10vw, 50px);
            color: var(--color-white);
            &:nth-child(3) {
              color: var(--color-secondary);
            }
          }
          .fast-delivery {
            position: absolute;
            @include flex-center();
            gap: 0.3rem;
            top: clamp(40px, 10vw, 50px);
            right: clamp(10px, 2vw, 20px);
            text-transform: capitalize;
            font-family: var(--font-montserrat);
            font-size: clamp(9px, 3vw, 11.5px);
            border: 1.4px solid var(--color-secondary);
            padding: 0.3rem 0.6rem;
            border-radius: 50px;
            color: var(--color-white);
            background: linear-gradient(
              to bottom,
              transparent 40%,
              #ffa90aa0 100%
            );
            backdrop-filter: blur(20px);
            cursor: pointer;
            i {
              font-size: clamp(15px, 4.5vw, 20px);
              color: var(--color-highlight);
            }
          }
        }

        .recipe {
          width: clamp(280px, 100%, 480px);
          flex-shrink: 0;
          margin-right: 3rem;
          position: relative;
          @include flex-center();
          flex-direction: column;
          img {
            width: 85%;
          }
          .recipe-detail {
            transform: translateY(-100%);
            @include flex-center();
            flex-direction: column;
            text-align: center;
            text-transform: capitalize;
            .recipe-name {
              font-weight: 300;
              font-size: clamp(13px, 4vw, 15px);
            }
            .recipe-price {
              font-size: clamp(18px, 6vw, 24px);
            }
          }
        }
      }
      .order-container {
        @include flex-center();
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        padding-block: 1rem;
        p {
          color: var(--color-secondary);
          font-size: clamp(14px, 4vw, 18px);
          line-height: 1.2;
        }
        .cta-btns {
          @include flex-center();
          gap: 1rem;
          button {
            cursor: pointer;
            border-top: 2px solid white;
            border-right: 1.5px solid white;
            border-bottom: 1.5px solid white;
            border-left: 1.5px solid white;
            background-color: transparent;
            color: var(--color-white);
            padding: 0.4rem 1.2rem;
            border-radius: 50px;
            text-transform: capitalize;
            transition: all ease 0.3s;
            &:nth-child(1) {
              border: none;
              background-color: var(--color-highlight);
              border: 1.5px solid var(--color-highlight);
              &:hover {
                background-color: transparent;
              }
            }
            &:nth-child(2):hover {
              background-color: var(--color-white);
              color: var(--color-background);
            }
          }
        }
        img {
          width: 50%;
          display: none;
        }
      }
    }
    .homePage-btm {
      padding-block: 2rem;
      padding-top: 3.5rem;
      padding-inline: 1.1rem;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      font-family: var(--font-montserrat);
      .left {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        .rating {
          font-weight: 400;
          font-size: clamp(14px, 4.3vw, 18px);
        }
        .reviews {
          line-height: 1;
          h4 {
            font-size: clamp(20px, 8vw, 28px);
          }
          p {
            font-weight: 300;
          }
        }
        .users-box {
          @include flex-center();
          .users {
            @include flex-center();
            .user {
              position: relative;
              width: clamp(28px, 11vw, 44px);
              height: clamp(28px, 11vw, 44px);
              border-radius: 50px;
              background-color: red;
              overflow: hidden;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
              &:nth-child(2) {
                transform: translateX(-30%);
              }
              &:nth-child(3) {
                transform: translateX(-60%);
              }
            }
          }
          i {
            font-size: clamp(18px, 5.5vw, 22px);
            border-radius: 50px;
            padding: 0.3rem;
            border: 1.4px solid var(--color-white);
            transition: all ease 0.3s;
            cursor: pointer;
            &:hover {
              color: black;
              background-color: white;
            }
          }
        }
      }
      .right {
        width: 100%;
        max-width: 350px;
        p {
          margin-bottom: 1rem;
          font-weight: 600;
          font-size: clamp(14px, 4.5vw, 24px);
          line-height: 1.4;
        }
        a {
          font-size: clamp(12px, 3.6vw, 15px);
          border-bottom: 1.3px solid var(--color-highlight);
        }
      }
    }
  }
}

@media (min-width: 768px) {
  nav {
    padding: 1.3rem 3.2rem;
    .logo {
      img {
        height: 24px;
      }
    }
    .menu {
      color: var(--color-white);
      font-size: 22px;
      cursor: pointer;
    }
  }
  nav .right {
    display: flex;
    gap: 4rem;
    .menu {
      @include flex-center();
      gap: 1rem;
      li {
        list-style: none;
        text-transform: capitalize;
        font-size: clamp(14px, 0.65vw + 0.5rem, 18px);
        padding-inline: 1rem;
        a {
          transition: all ease 0.3s;
          &:hover {
            color: var(--color-highlight);
          }
        }
      }
    }
    .icons {
      color: var(--color-white);
      @include flex-center();
      gap: 1.5rem;
      i {
        font-size: clamp(15px, 1.5vw, 20px);
        cursor: pointer;
      }
    }
    .btns {
      @include flex-center();
      gap: 1.5rem;
      button {
        font-family: var(--font-montserrat);
        cursor: pointer;
        border: 1.5px solid var(--color-highlight);
        background-color: transparent;
        color: var(--color-white);
        padding: 0.4rem 1.2rem;
        border-radius: 50px;
        text-transform: capitalize;
        font-weight: 600;
        transition: all ease 0.3s;
        &:nth-child(1):hover {
          background-color: var(--color-highlight);
        }
        &:nth-child(2) {
          background-color: var(--color-white);
          border: none;
          color: var(--color-background);
          border: 1px solid var(--color-white);
          &:hover {
            background-color: transparent;
            color: var(--color-white);
          }
        }
      }
    }
  }
  .menu {
    display: none;
  }
  .inner {
    .recipes-container {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      .recipes-list-line {
        width: 70%;
        .recipe {
          margin-right: 2.5rem !important;
          &:nth-child(3) {
            width: fit-content;
            img {
              width: clamp(120px, 15vw, 180px);
              filter: blur(2px);
            }
          }
          &:nth-child(4) {
            width: fit-content;
            img {
              filter: blur(3px);
              width: clamp(70px, 10vw, 110px);
            }
          }
          &:nth-child(3),
          &:nth-child(4) {
            .recipe-detail {
              display: none;
            }
          }
        }
      }
      .order-container {
        width: 25%;
        padding-left: 2rem;
        p {
          text-align: left;
        }
        img {
          display: block !important;
        }
      }
    }.homePage-btm{
        flex-direction: row !important;
        justify-content: space-between;
        .left{
            gap: 1.2rem !important;
        }
    }
  }
}
