@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin full-screen {
  width: 100%;
  height: 100%;
}
@mixin mini-padding-inline() {
  padding-inline: 1rem;
}
@mixin max-padding-inline() {
  padding-inline: 2rem;
}
@mixin padding-block {
  padding-block: 2rem;
}
@mixin flex-col($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}
html,
body {
  @include full-screen();
}

html {
  font-size: clamp(0.875rem, 1vw + 0.5rem, 1.125rem);
}

:root {
  --bg-color: #f5f6ff;
}
main {
  @include full-screen();
  position: relative;
}
section {
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  .inner {
    max-width: 1280px;
    @include mini-padding-inline();
    @include padding-block();
    @include flex-col(3rem);

    header {
      @include flex-col(2rem);
      h1 {
        font-size: clamp(40px, 12.2vw, 70px);
        line-height: 0.9;
        font-weight: 500;
        span {
          font-weight: 300;
          font-style: italic;
        }
      }

      .right {
        @include flex-col(1rem);
        p {
          font-family: "Roboto", sans-serif;
          font-size: clamp(12px, 3.5vw, 14px);
          color: #5f5f5f;
        }
        .durations {
          button {
            cursor: pointer;
            border-radius: 50px;
            padding: 0.5rem 1rem;
            border: none;
            background-color: white;
            text-transform: capitalize;
            &:nth-child(1) {
              background-color: #7b77ff;
              color: white;
            }
          }
        }
      }
    }
    .cards-container {
      @include flex-col(1.5rem);
      width: 100%;
      .card {
        @include flex-col(1rem);
        width: 100%;
        padding: 2rem 1.2rem;
        border-radius: 0.8rem;
        border: 1.5px solid rgba(212, 219, 255, 0.3);
        background: linear-gradient(6deg, white 65%, #d4dbff);
        &:nth-child(1) {
          #main-icon {
            color: #c3ccfe;
          }
        }

        &:nth-child(2) {
          background: linear-gradient(6deg, white 65%, #fff4dc);
          border: 1.5px solid rgba(252, 218, 160, 0.3);
          #main-icon {
            color: #fce7b4 !important;
          }
          button {
            background-color: black !important;
            color: white;
          }
        }
        &:nth-child(3) {
          background: linear-gradient(6deg, white 65%, #d8f3ff);
          border: 1.5px solid rgba(183, 231, 254, 0.3);
          #main-icon {
            color: #b9e9ff;
          }
        }
        li {
          list-style: none;
        }
        #main-icon {
          font-size: clamp(35px, 12vw, 50px);
          color: #d4dbff;
        }
        .top-with-icon {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          h6 {
            // background-color: #fee6b5;
            background: radial-gradient(
              ellipse closest-side at center,
              white 0%,
              #fee6b5 99%
            );
            font-size: 11px;
            padding: 0.4rem 0.5rem;
            border-radius: 50px;
            text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.171);
          }
        }

        .plan-intro {
          h3 {
            text-transform: capitalize;
            font-size: clamp(17px, 6vw, 22px);
            font-weight: 600;
          }
          p {
            font-size: clamp(11px, 3.5vw, 14.5px);
            color: #505052;
          }
        }
        .price-btn {
          @include flex-col(0.6rem);
          h4 {
            font-size: clamp(14px, 4.5vw, 16px);
            font-weight: 300;
            color: #949393;
            span {
              font-weight: 600;
              font-size: clamp(24px, 7vw, 32px);
              color: black;
            }
          }
          button {
            font-size: clamp(13px, 4.2vw, 16px);
            font-weight: 600;
            padding: 0.6rem 0rem;
            border-radius: 0.5rem;
            background-color: white;
            border: 1px solid #cbcbcb;
            cursor: pointer;
          }
        }
        .include-list {
          ul {
            h5 {
              color: #949494;
              margin-bottom: 0.7rem;
            }
            @include flex-col(0.7rem);
            li {
              display: flex;
              align-items: center;
              gap: 0.5rem;
              i {
                background-color: #f2efff;
                border-radius: 50px;
                font-size: clamp(9px, 3vw, 12px);
                padding: 0.1rem;
                color: #b6afdb;
                border: 1px solid #c0bae0;
              }
              h6 {
                font-size: clamp(10px, 3vw, 12.5px);
                font-weight: 400;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  section {
    .inner {
      padding-block: 3rem;
      @include max-padding-inline();
      @include flex-col(5rem);
      header {
        flex-direction: row;
        justify-content: space-between;
        gap: 0rem;
        align-items: center;
        h1 {
          width: 50%;
        }
        .right {
          width: 40%;
        }
      }
      .cards-container {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        .card {
          width: fit-content;
        }
      }
    }
  }
}
