@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
:root {
  --roboto: "Roboto", sans-serif;
  --poppins: "Poppins", sans-serif;
}

section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 1rem;
  background-color: rgb(240, 240, 240);
}
.card {
  width: 100%;
  max-width: 370px;
  position: relative;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-family: var(--poppins);
  border-radius: 0.7rem;
  padding: 0.2rem;
  .banner {
    width: 100%;
    padding-block: clamp(45px, 15vw, 58px);
    border-radius: 0.7rem 0.7rem 0rem 0rem;
    background-color: blue;
    background: url(media/banner.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
  }
  .card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    padding-top: clamp(65px, 4.2vw, 80px);
    padding-inline: 1.2rem;
    font-family: var(--roboto);
    .user-img {
      width: 5rem;
      height: 5rem;
      border: 2px solid white;
      border-radius: 50px;
      overflow: hidden;
      img {
        background-size: cover;
        width: 100%;
        height: 100%;
      }
    }
    .username-role-container {
      display: flex;
      flex-direction: column;
      .username {
        font-weight: 600;
        font-size: clamp(16px, 5.5vw, 20px);
      }
      .role {
        color: rgba(0, 0, 0, 0.813);
        font-weight: 500;
        font-size: clamp(11px, 3vw, 12px);
      }
    }

    .location {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      p {
        font-size: clamp(10px, 3.1vw, 12px);
        color: rgba(0, 0, 0, 0.8);
      }
    }
    .description {
      font-size: clamp(10px, 3.1vw, 12px);
      text-align: justify;
      padding-block: 0.35rem;
      color: rgba(0, 0, 0, 0.7);
    }
    .tags {
      display: flex;
      gap: 0.7rem;
      flex-wrap: wrap;
      .tag {
        display: flex;
        border-radius: 50px;
        align-items: center;
        gap: 0.3rem;
        background-color: #f1f1f1;
        padding: 0.3rem 0.5rem;
        cursor: pointer;
        img {
          width: clamp(14px, 3.2vw, 17px);
        }
        h6 {
          font-weight: 400;
          font-size: clamp(8.5px, 2.8vw, 10px);
        }
      }
    }
    .socials-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 1rem;
      margin-bottom: 1.5rem;
      button {
        background-color: black;
        color: white;
        border: none;
        padding-block: 0.6rem;
        padding-inline: clamp(30px, 12vw, 60px);
        font-weight: 500;
        font-size: clamp(11px, 3.2vw, 13px);
        border-radius: 0.5rem;
        font-family: var(--roboto);
        cursor: pointer;
      }
      .socials {
        display: flex;
        gap: 0.5rem;
        i {
          cursor: pointer;
          background-color: #f4f8fb;
          padding: 0.3rem;
          border-radius: 50px;
        }
      }
    }
  }
}
