* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
:root {
  --text-primary: #000000;
  --text-secondary: #4a4a4a;
  --color-blue: #0468d7;
  --color-border: #e8eaed;
  --bg-footer: #f8f9fa;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}
