@import url("https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
@mixin flex($align-items: center, $justify: space-between) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify;
}
:root {
  --light-pink: #da6d9d;
  --dark-pink: #ee2765;
  --white: #fefafb;
  --black: #170206;
}
html {
  font-size: 10px;
}
main {
  width: 100%;
  min-height: 100%;
  background-image: url("images/bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
  color: white;
}
li {
  list-style: none;
}
.blur {
  position: absolute;
  width: 6rem;
  height: 5rem;
  border-radius: 1rem;
  background-color: #da6d9c50;
  border: 0.15rem solid #da6d9c47;
  backdrop-filter: blur(5px);
}
.blur1 {
  top: 16%;
  left: 14%;
}
.blur2 {
  top: 13%;
  right: 16.5%;
  width: 5rem;
  height: 4.5rem;
}
.blur3 {
  top: 39%;
  right: 6%;
  background-color: #da6d9c22;
  border: 0.15rem solid #da6d9c47;
}
section {
  width: 100%;
  height: 120vh;
  position: relative;
  padding-inline: 9rem;
  color: white;
  overflow: hidden;

  #main-img {
    width: 58%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,10%);
  }
  nav {
    @include flex();
    color: white;
    text-transform: uppercase;
    padding: 1.5rem 0rem;
    font-family: "Roboto Condensed", sans-serif;

    .logo {
      text-align: right;
      display: flex;
      align-items: center;
      gap: 0.3rem;
      letter-spacing: -0.3px;
      img {
        height: 3rem;
      }
    }
    ul {
      display: flex;
      align-items: center;
      gap: 2.5rem;

      a {
        font-size: 1.2rem;
        padding: 0.8rem 1rem;
        border-radius: 50px;
        transition: all ease-in-out 0.2s;
        letter-spacing: -0.5px;
        font-weight: 500;
        &:hover {
          background-color: var(--light-pink);
        }
      }
    }
    p {
      font-size: 1.4rem;
      font-weight: 700;
      pointer-events: none;
    }
  }
}

header {
  text-transform: uppercase;
  padding-top: 1rem;
  font-family: "BBH Sans Bogle", sans-serif;

  h1 {
    font-size: 31rem;
    line-height: 0.8;
    font-weight: 100;
    letter-spacing: -4px;
  }
  .text {
    display: flex;
    justify-content: space-between;
    h3 {
      font-size: 5rem;
      font-weight: 600;
      line-height: 0.7;
      letter-spacing: -3px;
      font-family: "Roboto Condensed", sans-serif;
    }
  }
}

.cards {
  margin-top: 9rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  font-family: "Roboto Condensed", sans-serif;

  .cat-card {
    position: relative;

    .content {
      display: flex;
      background: linear-gradient(-300deg, #31122c70 10%, #815e6388 70%);
      backdrop-filter: blur(100px);
      padding: 1rem;
      border-radius: 0.5rem;
      text-transform: uppercase;
      gap: 1rem;
      width: 23.5vw;

      h5 {
        font-size: 1.8rem;
      }
      p {
        color: #412a33;
        font-weight: 600;
      }
      .img-box {
        width: 50%;
        width: 12rem;
        height: 12rem;
        border-radius: 0.5rem;
        background-color: #37152e;
        position: relative;

        img {
          // transform: translateY(-16%);
        //   height: 100%;
          transform: scale(2.3);
          transform-origin: bottom;
          position: absolute;
          bottom: 0%;
          width: 100%;
          object-fit: cover;
        }
      }
      .details {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
    .para {
      width: 50%;
      font-size: 1.25rem;
      margin-top: 1rem;
      color: #805c6c;
    }
  }
  .dog-card {
    position: relative;
    width: 17vw;
    background-color: #c67293;
    padding: 1rem;
    border-radius: 0.7rem;
    backdrop-filter: blur(10px);
    transform: translateY(-10%);
    .img-box {
      width: 100%;
      height: 28vh;
      border-radius: 0.7rem;
      background-color: #773559ba;
      position: relative;

      img {
        width: 100%;
        position: absolute;
        bottom: 0%;
        transform-origin: bottom;
        transform: scale(1.8);
      }
    }
    .details {
      display: flex;
      padding-top: 1.5rem;
      align-items: center;
      justify-content: space-between;
      text-transform: uppercase;
      h5 {
        font-size: 2rem;
        line-height: 1;
        font-weight: 500;
        letter-spacing: -0.7px;
      }
      i {
        font-size: 2rem;
        color: var(--light-pink);
        background-color: white;
        padding: 0.6rem;
        cursor: pointer;
        border-radius: 100px;
      }
    }
  }
}
.big-btn{
    position: absolute;
    left: 50%;
    bottom: 15%;
    transform: translate(-50%,0%);
    padding: .5rem;
    border-radius: 50px;
    border: none;
    width: 20rem;
    height: 6rem;
    text-transform: uppercase;
    cursor: pointer;
    .inner{
        border: 1.5px solid #D186B2;
        height: 100%;
        width: 100%;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p{
            font-size: 1.2rem;
            font-weight: 500;
            transform: translateX(40%);
             font-family: "Roboto Condensed", sans-serif;

        }
        i{
            font-size: 2rem;
            background-color: #EA679A;
            color: white;
            padding:1.25rem;
            cursor: pointer;
            border-radius: 50px;
        }
    }
}