@import url("https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

:root {
  --light-pink: #da6d9d;
  --dark-pink: #ee2765;
  --white: #fefafb;
  --black: #170206;
}

html {
  font-size: 10px;
}

main {
  width: 100%;
  min-height: 100%;
  background-image: url("images/bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

.blur {
  position: absolute;
  width: 6rem;
  height: 5rem;
  border-radius: 1rem;
  background-color: rgba(218, 109, 156, 0.3137254902);
  border: 0.15rem solid rgba(218, 109, 156, 0.2784313725);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.blur1 {
  top: 16%;
  left: 14%;
}

.blur2 {
  top: 13%;
  right: 16.5%;
  width: 5rem;
  height: 4.5rem;
}

.blur3 {
  top: 39%;
  right: 6%;
  background-color: rgba(218, 109, 156, 0.1333333333);
  border: 0.15rem solid rgba(218, 109, 156, 0.2784313725);
}

section {
  width: 100%;
  height: 120vh;
  position: relative;
  padding-inline: 9rem;
  color: white;
  overflow: hidden;
}
section #main-img {
  width: 58%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 10%);
}
section nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  text-transform: uppercase;
  padding: 1.5rem 0rem;
  font-family: "Roboto Condensed", sans-serif;
}
section nav .logo {
  text-align: right;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  letter-spacing: -0.3px;
}
section nav .logo img {
  height: 3rem;
}
section nav ul {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
section nav ul a {
  font-size: 1.2rem;
  padding: 0.8rem 1rem;
  border-radius: 50px;
  transition: all ease-in-out 0.2s;
  letter-spacing: -0.5px;
  font-weight: 500;
}
section nav ul a:hover {
  background-color: var(--light-pink);
}
section nav p {
  font-size: 1.4rem;
  font-weight: 700;
  pointer-events: none;
}

header {
  text-transform: uppercase;
  padding-top: 1rem;
  font-family: "BBH Sans Bogle", sans-serif;
}
header h1 {
  font-size: 31rem;
  line-height: 0.8;
  font-weight: 100;
  letter-spacing: -4px;
}
header .text {
  display: flex;
  justify-content: space-between;
}
header .text h3 {
  font-size: 5rem;
  font-weight: 600;
  line-height: 0.7;
  letter-spacing: -3px;
  font-family: "Roboto Condensed", sans-serif;
}

.cards {
  margin-top: 9rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  font-family: "Roboto Condensed", sans-serif;
}
.cards .cat-card {
  position: relative;
}
.cards .cat-card .content {
  display: flex;
  background: linear-gradient(-300deg, rgba(49, 18, 44, 0.4392156863) 10%, rgba(129, 94, 99, 0.5333333333) 70%);
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  padding: 1rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  gap: 1rem;
  width: 23.5vw;
}
.cards .cat-card .content h5 {
  font-size: 1.8rem;
}
.cards .cat-card .content p {
  color: #412a33;
  font-weight: 600;
}
.cards .cat-card .content .img-box {
  width: 50%;
  width: 12rem;
  height: 12rem;
  border-radius: 0.5rem;
  background-color: #37152e;
  position: relative;
}
.cards .cat-card .content .img-box img {
  transform: scale(2.3);
  transform-origin: bottom;
  position: absolute;
  bottom: 0%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cards .cat-card .content .details {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cards .cat-card .para {
  width: 50%;
  font-size: 1.25rem;
  margin-top: 1rem;
  color: #805c6c;
}
.cards .dog-card {
  position: relative;
  width: 17vw;
  background-color: #c67293;
  padding: 1rem;
  border-radius: 0.7rem;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transform: translateY(-10%);
}
.cards .dog-card .img-box {
  width: 100%;
  height: 28vh;
  border-radius: 0.7rem;
  background-color: rgba(119, 53, 89, 0.7294117647);
  position: relative;
}
.cards .dog-card .img-box img {
  width: 100%;
  position: absolute;
  bottom: 0%;
  transform-origin: bottom;
  transform: scale(1.8);
}
.cards .dog-card .details {
  display: flex;
  padding-top: 1.5rem;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}
.cards .dog-card .details h5 {
  font-size: 2rem;
  line-height: 1;
  font-weight: 500;
  letter-spacing: -0.7px;
}
.cards .dog-card .details i {
  font-size: 2rem;
  color: var(--light-pink);
  background-color: white;
  padding: 0.6rem;
  cursor: pointer;
  border-radius: 100px;
}

.big-btn {
  position: absolute;
  left: 50%;
  bottom: 15%;
  transform: translate(-50%, 0%);
  padding: 0.5rem;
  border-radius: 50px;
  border: none;
  width: 20rem;
  height: 6rem;
  text-transform: uppercase;
  cursor: pointer;
}
.big-btn .inner {
  border: 1.5px solid #D186B2;
  height: 100%;
  width: 100%;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.big-btn .inner p {
  font-size: 1.2rem;
  font-weight: 500;
  transform: translateX(40%);
  font-family: "Roboto Condensed", sans-serif;
}
.big-btn .inner i {
  font-size: 2rem;
  background-color: #EA679A;
  color: white;
  padding: 1.25rem;
  cursor: pointer;
  border-radius: 50px;
}/*# sourceMappingURL=style.css.map */