@font-face {
  font-family: f1;
  src: url(fonts/1ZFS7N918ojhhd0nQWdj3jz4w.woff2);
}
@font-face {
  font-family: f2;
  src: url(fonts/7AHDUZ4A7LFLVFUIFSARGIWCRQJHISQP.woff2);
}
@font-face {
  font-family: f3;
  src: url(fonts/GHM6WVH6MILNYOOCXHXB5GTSGNTMGXZR.woff2);
}
@font-face {
  font-family: f4;
  src: url(fonts/jizHRFtNs2ka5fXjeivQ4LroWlx-6zAjjH7M.woff2);
}
@font-face {
  font-family: f5;
  src: url(fonts/KFIAZD4RUMEZIYV6FQ3T3GP5PDBDB6JY.woff2);
}
@font-face {
  font-family: f6;
  src: url(fonts/vQyevYAyHtARFwPqUzQGpnDs.woff2);
}
:root {
  --sec-color: #8a8987;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 10px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

main {
  width: 100%;
  height: 100%;
  position: relative;
}

.main-btn {
  text-transform: uppercase;
  font-family: f2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.6rem 1.5rem;
  border-radius: 50px;
  border: 1px solid;
  background-color: transparent;
  cursor: pointer;
  font-size: 0.8rem;
  transition: all ease-in-out 0.3s;
}
.main-btn i {
  font-size: 1rem;
}

.main-btn:hover {
  background-color: black;
  color: white;
}

nav {
  font-family: f2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 2rem;
}
nav h2 {
  font-size: 1.1rem;
}
nav ul {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  gap: 1.5rem;
  transform: translateX(10%);
}
nav ul li a {
  color: black;
  font-size: 0.85rem;
  font-family: f5;
}

.page1 .gradient-blur {
  position: absolute;
  width: 99%;
  border-radius: 5px;
  height: 45vh;
  transform: rotate(-5deg);
  filter: blur(100px);
  background: linear-gradient(to bottom, rgb(252, 221, 66) 27.027%, rgb(255, 0, 119) 50%, rgb(158, 0, 161) 100%);
  bottom: -60%;
  z-index: -1;
}

.page1 .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.page1 .content .text-content {
  text-align: center;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.3rem;
  padding-top: 6rem;
}
.page1 .content .text-content h5 {
  font-family: f4;
  font-size: 1.7rem;
  font-weight: 500;
}
.page1 .content .text-content h1 {
  font-size: 5rem;
  line-height: 5.1rem;
  font-family: f3;
  letter-spacing: -2px;
}
.page1 .content .text-content p {
  font-family: f5;
  font-size: 1.3rem;
  width: 55%;
  color: var(--sec-color);
  margin-inline: auto;
}
.page1 .content .text-content .main-btn {
  padding: 1rem 2rem;
  font-size: 0.9rem;
}
.page1 .content .image-container {
  position: relative;
  z-index: 11;
  width: 100%;
  height: 120vh;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to bottom, white 75%, transparent 100%);
          mask-image: linear-gradient(to bottom, white 75%, transparent 100%);
}
.page1 .content .image-container img {
  height: 100%;
  position: absolute;
  bottom: -2%;
  left: 50%;
  transform: translateX(-50%) rotate(-15deg);
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 10;
}

.page2 {
  position: relative;
  min-height: 100vh;
  padding-inline: 2rem;
  padding-top: 6rem;
  padding-bottom: 10rem;
  font-family: f2;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.page2 .top-section {
  display: flex;
}
.page2 .top-section .left {
  width: 50%;
}
.page2 .top-section .left h2 {
  font-size: 5.8rem;
  line-height: 6rem;
  letter-spacing: -2px;
}
.page2 .top-section .left h2 span {
  font-family: f4;
  font-weight: 500;
}
.page2 .top-section .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 1.5rem;
}
.page2 .top-section .right h3 {
  width: 70%;
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-family: f5;
}
.page2 .top-section .right h4 {
  width: 70%;
  font-size: 1rem;
  color: var(--sec-color);
  line-height: 1.5rem;
  font-family: f5;
  font-weight: 500;
}
.page2 .bottom-section {
  display: flex;
  justify-content: space-between;
}
.page2 .bottom-section .work {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-inline: 1rem;
}
.page2 .bottom-section .work h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}
.page2 .bottom-section .work p {
  font-size: 0.95rem;
  font-family: f5;
  font-weight: 500;
  color: var(--sec-color);
}

.page3 {
  position: relative;
  width: 100%;
  height: 150vh;
  background-image: url("https://framerusercontent.com/images/DPzTbAEx0MGcJD6TC76YwHBtmNI.webp?scale-down-to=2048");
  background-size: cover;
  background-position: center;
  color: white;
  padding-inline: 2rem;
  font-family: f2;
}
.page3 .gradient-blur1 {
  position: absolute;
  width: 95%;
  border-radius: 5px;
  height: 40vh;
  filter: blur(100px);
  background: linear-gradient(270deg, rgb(252, 221, 66) 27.027%, rgb(255, 0, 119) 50%, rgb(158, 0, 161) 100%);
  top: -3%;
  z-index: 10;
}
.page3 .gradient-blur2 {
  position: absolute;
  width: 95%;
  border-radius: 5px;
  height: 15vh;
  filter: blur(100px);
  background: linear-gradient(270deg, rgb(252, 221, 66) 27.027%, rgb(255, 0, 119) 50%, rgb(158, 0, 161) 100%);
  bottom: -7%;
  z-index: 10;
}
.page3 .content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 8rem;
}
.page3 .content .left {
  width: 50%;
}
.page3 .content .left h6 {
  font-size: 2rem;
  font-family: f4;
  font-weight: 500;
}
.page3 .content .left h2 {
  font-size: 4.5rem;
  line-height: 5.4rem;
  letter-spacing: 2px;
}
.page3 .content .right {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.page3 .content .right p {
  font-size: 1.2rem;
  font-family: f5;
  font-weight: 500;
  width: 90%;
}
.page3 .content .right .main-btn {
  color: white;
  padding: 1rem 2rem;
}
.page3 .content .right .main-btn:hover {
  color: black;
  background-color: white;
  border-color: white;
}

.trust {
  width: 100%;
  padding-inline: 2rem;
  font-family: f2;
  padding-block: 8rem;
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.trust .text-line {
  display: flex;
  justify-content: space-between;
}
.trust .text-line h5 {
  font-size: 1.3rem;
}
.trust .text-line p {
  font-size: 1rem;
  font-family: f5;
  color: var(--sec-color);
}
.trust .brands {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 0.7rem;
}
.trust .brands .brand {
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 800;
  padding: 1.5rem 0rem;
  border-radius: 0.5rem;
  color: #757575;
}

.page4 {
  position: relative;
  width: 100%;
  padding-inline: 2rem;
  font-family: f1;
  padding-bottom: 10rem;
}
.page4 .text-content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4rem;
}
.page4 .text-content .left {
  width: 60%;
}
.page4 .text-content .left h6 {
  font-size: 2rem;
  font-family: f4;
  font-weight: 500;
}
.page4 .text-content .left h2 {
  font-size: 3.6rem;
  letter-spacing: -2px;
}
.page4 .text-content .right {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: end;
}
.page4 .text-content .right p {
  width: 80%;
  font-size: 1rem;
  font-family: f5;
  font-weight: 500;
  color: var(--sec-color);
}
.page4 .tasks {
  height: 120vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "task1 task1 task2" "task3 task4 task4";
  grid-gap: 1rem;
}
.page4 .tasks .task {
  position: relative;
  background-color: #f7f7f7;
  border-radius: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: black;
  overflow: hidden;
}
.page4 .tasks .task h3 {
  font-size: 1.3rem;
  letter-spacing: -1px;
  margin-block: 1rem;
}
.page4 .tasks .task p {
  font-family: f5;
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--sec-color);
}
.page4 .tasks .task:nth-child(1) {
  grid-area: task1;
  color: white;
  background: linear-gradient(to top left, rgb(87, 0, 128) 0%, rgb(242, 0, 109) 40%, rgb(251, 221, 65) 100%);
}
.page4 .tasks .task:nth-child(1) img {
  position: absolute;
  height: 110%;
  right: 0;
  bottom: -10%;
}
.page4 .tasks .task:nth-child(1) h3 {
  font-size: 1.8rem;
  letter-spacing: -1px;
}
.page4 .tasks .task:nth-child(1) p {
  font-family: f5;
  font-weight: 500;
  color: white;
  width: 50%;
  font-size: 0.9rem;
}
.page4 .tasks .task:nth-child(2) img {
  width: 90%;
  margin-inline: auto;
  border-radius: 1rem;
  border: 6px solid black;
}
.page4 .tasks .task:nth-child(3) .users {
  display: flex;
}
.page4 .tasks .task:nth-child(3) .users .user {
  width: 3.5rem;
  height: 3.5rem;
  background-color: black;
  border-radius: 50px;
  position: relative;
  border: 2px solid white;
  overflow: hidden;
  cursor: pointer;
}
.page4 .tasks .task:nth-child(3) .users .user img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.page4 .tasks .task:nth-child(3) .users .user:nth-child(2) {
  transform: translateX(-30%);
}
.page4 .tasks .task:nth-child(3) .users .user:nth-child(3) {
  transform: translateX(-60%);
}
.page4 .tasks .task:nth-child(3) .users .user:nth-child(4) {
  transform: translateX(-90%);
}
.page4 .tasks .task:nth-child(3) .users .user:nth-child(5) {
  transform: translateX(-120%);
}
.page4 .tasks .task:nth-child(4) {
  grid-area: task4;
  color: white;
  background: linear-gradient(to bottom right, rgb(87, 0, 128) 0%, rgb(242, 0, 109) 100%);
}
.page4 .tasks .task:nth-child(4) img {
  position: absolute;
  height: 105%;
  right: 0;
  bottom: 0;
}
.page4 .tasks .task:nth-child(4) h3 {
  font-size: 1.8rem;
  letter-spacing: -1px;
}
.page4 .tasks .task:nth-child(4) p {
  font-family: f5;
  font-weight: 500;
  width: 50%;
  font-size: 0.9rem;
  color: white;
}

.page5 {
  padding-inline: 2rem;
  font-family: f2;
  padding-bottom: 10rem;
}
.page5 .text-content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 6rem;
}
.page5 .text-content .left {
  width: 55%;
}
.page5 .text-content .left h6 {
  font-size: 2rem;
  font-family: f4;
  font-weight: 500;
}
.page5 .text-content .left h2 {
  font-size: 3.6rem;
  letter-spacing: -2px;
}
.page5 .text-content .right {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: end;
}
.page5 .text-content .right p {
  width: 80%;
  font-size: 1rem;
  font-family: f5;
  font-weight: 500;
  color: var(--sec-color);
}

.page5-bottom {
  display: flex;
}
.page5-bottom .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.page5-bottom .left .container {
  padding: 1.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.page5-bottom .left .container h3 {
  font-size: 2rem;
  font-family: f4;
  font-weight: 500;
  font-size: 1.7rem;
}
.page5-bottom .left .container h2 {
  font-size: 1.2rem;
}
.page5-bottom .left .container p {
  width: 80%;
  font-size: 1rem;
  font-family: f5;
  font-weight: 500;
  color: var(--sec-color);
  font-size: 0.9rem;
}
.page5-bottom .left .container:nth-child(1) {
  border-left: 4px solid #f2006d;
}
.page5-bottom .left .container:nth-child(1) h3 {
  color: var(--sec-color);
}
.page5-bottom .right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page5-bottom .right img {
  width: 90%;
  height: 90vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.7rem;
}

.page6 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-family: f2;
  padding-bottom: 8rem;
}
.page6 .content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
}
.page6 .content-container h6 {
  font-size: 2rem;
  font-family: f4;
  font-weight: 500;
}
.page6 .content-container h2 {
  font-size: 3.6rem;
  letter-spacing: -2px;
  width: 50%;
  font-size: 4.5rem;
  line-height: 5rem;
}
.page6 .content-container p {
  width: 80%;
  font-size: 1rem;
  font-family: f5;
  font-weight: 500;
  color: var(--sec-color);
  font-size: 1.2rem;
  font-weight: 500;
  font-family: f5;
}
.page6 .content-container button {
  padding: 0.9rem 2.2rem;
}
.page6 .marque-container {
  width: 100%;
  height: 80vh;
  background-color: red;
  background-image: url("users marque.jpg");
  background-size: cover;
  background-position: center;
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, white 15%, white 85%, transparent 100%);
          mask-image: linear-gradient(to bottom, transparent 0%, white 15%, white 85%, transparent 100%);
}

.page7 {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  padding-inline: 2rem;
  font-family: f2;
  padding-bottom: 7rem;
  font-family: f2;
}
.page7 .text-content {
  display: flex;
  justify-content: space-between;
}
.page7 .text-content h2 {
  font-size: 6rem;
  line-height: 6.5rem;
}
.page7 .text-content h3 {
  font-size: 6rem;
  line-height: 6rem;
  font-family: f4;
  font-weight: 500;
}
.page7 .text-content .right {
  display: flex;
  justify-content: end;
  padding-top: 2rem;
}
.page7 .text-content .right h5 {
  font-size: 1.8rem;
  width: 80%;
  font-weight: 500;
}
.page7 .tips-container {
  width: 100%;
  display: flex;
  gap: 3rem;
  height: 100vh;
}
.page7 .tips-container .left {
  width: 45%;
  height: 100%;
}
.page7 .tips-container .left img {
  width: 100%;
  border-radius: 1.7rem;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.page7 .tips-container .right {
  height: 100%;
  width: 55%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
}
.page7 .tips-container .right .tip {
  width: 48%;
  padding: 1.8rem 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.page7 .tips-container .right .tip h5 {
  font-size: 2rem;
  font-family: f4;
  font-weight: 500;
  font-size: 1.6rem;
  color: #f2006d;
}
.page7 .tips-container .right .tip h4 {
  font-size: 1.3rem;
}
.page7 .tips-container .right .tip p {
  width: 80%;
  font-size: 1rem;
  font-family: f5;
  font-weight: 500;
  color: var(--sec-color);
  font-size: 0.9rem;
}

.page8 {
  position: relative;
  width: 100%;
  font-family: f2;
  overflow: hidden;
}
.page8 .text-content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.page8 .text-content .customers-container {
  display: flex;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}
.page8 .text-content .customers-container .customers {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  width: 40%;
}
.page8 .text-content .customers-container .customers img {
  position: relative;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50px;
  border: 2px solid white;
  -o-object-fit: cover;
     object-fit: cover;
}
.page8 .text-content .customers-container .customers img:nth-child(2) {
  transform: translateX(-30%);
}
.page8 .text-content .customers-container .customers img:nth-child(3) {
  transform: translateX(-60%);
}
.page8 .text-content .customers-container .customers img:nth-child(4) {
  transform: translateX(-90%);
}
.page8 .text-content .customers-container .customers img:nth-child(5) {
  transform: translateX(-120%);
}
.page8 .text-content .customers-container p {
  font-size: 0.9rem;
}
.page8 .text-content h4 {
  font-size: 2rem;
  font-family: f4;
  font-weight: 500;
}
.page8 .text-content h2 {
  font-size: 3.6rem;
  letter-spacing: -2px;
  font-size: 6rem;
  line-height: 6rem;
  width: 55%;
  text-align: center;
}
.page8 .text-content p {
  width: 80%;
  font-size: 1rem;
  font-family: f5;
  font-weight: 500;
  color: var(--sec-color);
  text-align: center;
  font-size: 1.3rem;
  width: 68%;
}
.page8 .image-container {
  width: 100%;
  height: 100vh;
  position: relative;
}
.page8 .image-container img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=style.css.map */